backend/n2o/n2o-api/src/main/resources/net/n2oapp/framework/config/schema/base/n2o-control-base-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:ctr="http://n2oapp.net/framework/config/schema/base/control-base-1.0"
           xmlns:wgt="http://n2oapp.net/framework/config/schema/n2o-widget-3.0"
           targetNamespace="http://n2oapp.net/framework/config/schema/base/n2o-control-base-1.0">

    <xs:complexType name="controlBaseDefinition">
        <xs:complexContent>
            <xs:extension base="ctr:controlFieldDefinition">
                <xs:sequence>
                    <xs:element name="set-value" type="setValueDefinition" minOccurs="0"/>
                    <xs:element name="set-value-expression" type="setValueExpDefinition" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="validations" type="fieldsValidation" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="actions" type="actionsValidation" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="dependencies" minOccurs="0" maxOccurs="1">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="enabling-condition" minOccurs="0" maxOccurs="1">
                                    <xs:complexType>
                                        <xs:attribute name="on"/>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="required-condition" minOccurs="0" maxOccurs="1">
                                    <xs:complexType>
                                        <xs:attribute name="on"/>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="description" minOccurs="0" maxOccurs="1" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="controlSimpleFieldDefinition">
        <xs:complexContent>
            <xs:extension base="controlBaseDefinition">
                <!--значение по умолчанию-->
                <xs:attribute name="default-value" type="xs:string" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="setValueDefinition">
        <xs:attribute name="if" type="xs:string" use="required"/>
        <xs:attribute name="on"/>
        <xs:attribute name="then" type="xs:string" use="required"/>
        <xs:attribute name="else" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="setValueExpDefinition">
        <xs:attribute name="on" type="xs:string" use="optional"/>
        <xs:attribute name="on-non-empty" type="xs:boolean" use="optional"/>
        <xs:attribute name="on-load" type="xs:boolean" use="optional"/>
        <xs:attribute name="on-invisible" type="xs:boolean" use="optional"/>
        <xs:attribute name="on-readonly" type="xs:boolean" use="optional"/>
        <xs:attribute name="silent-mode" type="xs:boolean" use="optional"/>
        <xs:attribute name="src" type="xs:string" use="optional"/>
        <xs:attribute name="namespace" type="xs:string" use="optional"/>
    </xs:complexType>

    <xs:complexType name="fieldsValidation">
        <xs:sequence>
            <xs:element name="validation">
                <xs:complexType>
                    <xs:attribute name="ref-id" use="required"/>
                    <xs:attribute name="side" type="validationSidesDef"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="validationSidesDef">
        <xs:restriction>
            <xs:enumeration value="client"/>
            <xs:enumeration value="server"/>
            <xs:enumeration value="client,server"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="dataFormatEnum">
        <xs:restriction>
            <xs:enumeration value="DD.MM.YYYY"/>
            <xs:enumeration value="DD.MM.YYYY HH:mm"/>
        </xs:restriction>
    </xs:simpleType>

    <!--action-links-->
    <xs:complexType name="actionsValidation">
        <xs:sequence>
            <xs:element name="link" type="linkDefinition"/>
        </xs:sequence>
        <xs:attribute name="inherited-default" use="optional" type="xs:boolean"/>
    </xs:complexType>
    <xs:complexType name="linkDefinition">
        <xs:sequence>
            <xs:element name="show-modal-form" type="showModalFormDefinition" minOccurs="0" maxOccurs="1"/>
            <xs:element name="show-modal" type="showModalOpenPageDefinition" minOccurs="0" maxOccurs="1"/>
            <xs:element name="open-page" type="showModalOpenPageDefinition" minOccurs="0" maxOccurs="1"/>
            <xs:element name="a" type="ctr:anchorDef" minOccurs="0" maxOccurs="1"/>
            <xs:element name="update-model" type="updateModelDef" minOccurs="0" maxOccurs="1"/>
            <xs:element name="on-click" type="onClickDefinition" minOccurs="0" maxOccurs="1"/>
            <xs:element name="dependencies" type="dependencyDef" minOccurs="0" maxOccurs="1"/>
            <xs:element name="set-value-expression" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="label" use="required"/>
    </xs:complexType>
    <xs:complexType name="showModalOpenPageDefinition">
        <xs:complexContent>
            <xs:extension base="wgt:showModalOpenPageDefinition">
                <xs:sequence>
                    <xs:element name="pre-filters" maxOccurs="1" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="pre-filter" type="wgt:showModalPreFilterDefinition"
                                            maxOccurs="unbounded"
                                            minOccurs="1"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="showModalFormDefinition">
        <xs:complexContent>
            <xs:extension base="wgt:showModalFormDefinition">
                <xs:sequence>
                    <xs:element name="edit" type="editWithoutAfterSubmitDefinition"/>
                    <xs:element name="pre-filters" maxOccurs="1" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="pre-filters" maxOccurs="1" minOccurs="0">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="pre-filter" type="wgt:showModalPreFilterDefinition"
                                                        maxOccurs="unbounded"
                                                        minOccurs="1"/>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
                <xs:attribute name="target-field-id" type="xs:string" use="optional"/>
                <xs:attribute name="value-field-id" type="xs:string" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!--edit в кнопке show-modal-form-->
    <xs:complexType name="editWithoutAfterSubmitDefinition">
        <xs:complexContent>
            <xs:extension base="editDefinition">
                <xs:attribute name="focus-after-submit" type="xs:boolean" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="editDefinition">
        <xs:sequence>
            <xs:element name="invoke-action" type="ctr:submitActionDefinition" minOccurs="0"/>
            <xs:element name="redirect" type="ctr:redirectDef" minOccurs="0"/>
            <xs:element name="a" type="ctr:anchorDef" minOccurs="0"/>
            <xs:element name="create-or-update" type="ctr:createOrUpdateActionDef" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="model" type="ctr:modelDefinition"/>
        <xs:attribute name="condition" type="xs:string"/>
        <xs:attribute name="form-submit-label" type="xs:string"/>
        <xs:attribute name="refresh-after-submit" type="xs:boolean" use="optional"/>
        <xs:attribute name="create-more" type="xs:boolean" use="optional"/>
    </xs:complexType>
    <xs:complexType name="updateModelDef">
        <xs:sequence>
            <xs:element name="pre-filters" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="pre-filter" type="ctr:controlPreFilterWithoutRefDefinition"
                                    maxOccurs="unbounded"
                                    minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

        </xs:sequence>
        <xs:attribute name="query-id" use="required"/>
        <xs:attribute name="target" type="targetType" use="optional"/>
        <xs:attribute name="value-field-id" use="optional"/>
        <xs:attribute name="target-field-id" use="optional"/>
        <xs:attribute name="master-field-id" use="required"/>
        <xs:attribute name="detail-field-id" use="required"/>
    </xs:complexType>
    <xs:simpleType name="targetType">
        <xs:restriction>
            <xs:enumeration value="form"/>
            <xs:enumeration value="field"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="dependencyDef">
        <xs:sequence>
            <xs:element name="enabling-condition" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:attribute name="on"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="visibility-condition" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:attribute name="on"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="onClickDefinition">
        <xs:attribute name="src" type="xs:string"/>
        <xs:attribute name="function-name" type="xs:string"/>
    </xs:complexType>


</xs:schema>