backend/n2o/n2o-api/src/main/resources/net/n2oapp/framework/config/schema/base/n2o-widget-base.1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:ctr="http://n2oapp.net/framework/config/schema/base/control-base-1.0"
           xmlns:act="http://n2oapp.net/framework/config/schema/base/action-base-1.0"
           xmlns:prop="http://n2oapp.net/framework/config/schema/base/properties-base-1.0"
           targetNamespace="http://n2oapp.net/framework/config/schema/base/n2o-widget-base-1.0"
           xml:base="fs:fieldSetDefinition">

    <!--определение компонента-->
    <xs:complexType name="widgetDefinition">
        <xs:sequence>
            <xs:element name="properties" type="prop:propertyListDefinition" maxOccurs="1" minOccurs="0"/>
            <!--идентификатор выборки, на основе которой построен компонент-->
            <xs:element name="query-id" type="xs:string" maxOccurs="1" minOccurs="1"/>
            <!--локализованное наименование компонента-->
            <!--по умолчанию равно элементу name выборки, на основе которой построен компонент-->
            <xs:element name="name" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <!--количество записей, которое отображает виджет-->
            <xs:element name="size" type="xs:integer" maxOccurs="1" minOccurs="0"/>
            <!--возможные действия в компоненте-->
            <xs:element name="action-menu" type="actionMenuListDefinition" maxOccurs="1" minOccurs="0"/>
            <!--рамка виджета-->
            <xs:element name="border" type="xs:boolean" maxOccurs="1" minOccurs="0"/>
        </xs:sequence>
        <!--папка с исходниками-->
        <xs:attribute name="src" use="optional"/>
        <xs:attribute name="css-class" use="optional"/>
        <xs:attribute name="style" use="optional"/>
        <!--перечесление переопределяемых исходников, если не указан, переопределяются все (js, jsp, css)-->
        <xs:attribute name="customize" use="optional">
            <xs:simpleType>
                <xs:union memberTypes="xs:string">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="css"/>
                            <xs:enumeration value="js"/>
                            <xs:enumeration value="jsp"/>
                            <xs:enumeration value="css,js"/>
                            <xs:enumeration value="css,jsp"/>
                            <xs:enumeration value="js,jsp"/>
                            <xs:enumeration value="css,js,jsp"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:union>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>

    <!--определение контекстного меню таблицы-->
    <xs:complexType name="actionMenuListDefinition">
        <xs:sequence>
            <xs:element name="menu-item" type="controlActionMenuItemDefinition" maxOccurs="unbounded"
                        minOccurs="0"/>
            <xs:element name="group" type="menuItemGroupDefinition" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <!--возможность наследовать контекстное меню по умолчанию-->
        <xs:attribute name="inherit-default" type="xs:boolean" default="true" use="optional"/>
    </xs:complexType>

    <xs:complexType name="menuItemGroupDefinition">
        <xs:sequence>
            <xs:element name="menu-item" type="controlActionMenuItemDefinition" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="propertyDefinition">
        <xs:attribute name="key" type="xs:string" use="required"/>
        <xs:attribute name="value" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="propertyListDefinition">
        <xs:sequence>
            <xs:element name="property" type="propertyDefinition" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <!--меню действий-->
    <xs:complexType name="controlActionMenuItemDefinition">
        <xs:annotation>
            <xs:documentation source="https://wiki.i-novus.ru/display/N2O/N2O.Documentation.Model.ActionMenu"/>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ctr:controlDefinition">
                <!--возможно только одно из возможных действий-->
                <xs:sequence>
                    <xs:element name="properties" type="propertyListDefinition" maxOccurs="1" minOccurs="0"/>
                    <xs:element name="show-modal" type="showModalOpenPageDefinition" maxOccurs="1" minOccurs="0"/>
                    <xs:element name="show-modal-form" type="showModalFormDefinition" maxOccurs="1" minOccurs="0"/>
                    <xs:element name="open-page" type="showModalOpenPageDefinition" maxOccurs="1" minOccurs="0"/>
                    <xs:element name="a" type="ctr:anchorDef" maxOccurs="1" minOccurs="0"/>
                    <xs:element name="invoke-action" type="ctr:invokeActionDefinition" maxOccurs="1" minOccurs="0"/>
                    <xs:element name="edit" type="editDefinition" maxOccurs="1" minOccurs="0"/>
                    <!--вложенное меню-->
                    <xs:element name="sub-menu" type="controlActionSubMenuDefinition" maxOccurs="1" minOccurs="0"/>
                    <xs:element name="conditions" minOccurs="0" maxOccurs="1">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="enabling-condition" minOccurs="0">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="expression" minOccurs="1" maxOccurs="1">
                                                <xs:complexType>
                                                    <xs:attribute name="on" type="xs:string" use="optional"/>
                                                </xs:complexType>
                                            </xs:element>
                                            <xs:element name="tooltip" minOccurs="1" maxOccurs="1"/>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="visibility-condition" minOccurs="0">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="expression" minOccurs="1" maxOccurs="1">
                                                <xs:complexType>
                                                    <xs:attribute name="on" type="xs:string" use="optional"/>
                                                </xs:complexType>
                                            </xs:element>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
                <!--признак того, что данный элемент меню является основным-->
                <!--срабатывает как действие по умолчанию в компоненте (на двойной клик) и выделяется жирным шрифтом-->
                <xs:attribute name="default" type="xs:boolean" default="false" use="optional"/>
                <!--признак того, что действие привязано к контексту, если контекста нет, то элемент меню имеет атрибут readonly=false-->
                <!--если контекст есть и этот атрибут включен, то при вызове действия этот контекст передается на вход действию-->
                <!--если этот атрибут выключен, то при вызове действия действию передается пустой контекст-->
                <xs:attribute name="context" type="xs:boolean" default="true" use="optional"/>
                <xs:attribute name="type" use="optional">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="text"/>
                            <xs:enumeration value="icon"/>
                            <xs:enumeration value="textAndIcon"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="icon" type="xs:string" use="optional"/>
                <xs:attribute name="key" type="xs:string" use="optional"/>
                <xs:attribute name="bulk" type="xs:boolean" use="optional"/>
                <xs:attribute name="color" type="xs:string" use="optional"/>
                <xs:attribute name="validate" type="xs:boolean" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!--определение открытия нового пейджа (в модалке или новой вкладке)-->
    <xs:complexType name="showModalOpenPageDefinition">
        <xs:sequence>
            <xs:element name="pre-filters" maxOccurs="1" minOccurs="0">
                <xs:complexType>
                    <xs:annotation>
                        <xs:documentation source="https://wiki.i-novus.ru/display/N2O/N2O.Documentation.Dependency"/>
                    </xs:annotation>
                    <xs:sequence>
                        <xs:element name="pre-filter" type="showModalPreFilterDefinition" maxOccurs="unbounded"
                                    minOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <!--идентификатор макета, который отобразится в модальном окне-->
        <xs:attribute name="page-id" type="xs:string" use="required"/>
        <!--заголовок страницы-->
        <xs:attribute name="page-name" type="xs:string" use="optional"/>
        <xs:attribute name="refresh-on-close" type="xs:boolean" use="optional"/>
        <!--идентификатор действия, в рамках которого откроется макет в модальном окне-->
        <!--если действие не стандартное и если в макете несколько панелей, то выбранное действие относится к объекту результирующей панели-->
        <xs:attribute name="action-id" type="act:actionGroupEnum" use="optional"/>
        <xs:attribute name="result-container-id" type="xs:string" use="optional"/>
        <!--идентификатор поля выборки (та выборка, на которой стоит текущая запись)-->
        <!--, значение которого передастся в выборку результирующей панели открываемой страницы-->
        <!--по умолчанию 'id'-->
        <xs:attribute name="master-field-id" type="xs:string" use="optional"/>
        <!--идентификатор поля выборки (та выборка, которая является результирующей панелью в открываемом модальном окне страницы)-->
        <!--, фильтруемое по значению master-field-id-->
        <!--по умолчанию 'id'-->
        <xs:attribute name="detail-field-id" type="xs:string" use="optional"/>
        <xs:attribute name="container-id" type="xs:string" use="optional"/>
        <!--<xs:attribute name="after-submit" type="ctr:afterSubmitTypes"/>-->
        <xs:attribute name="width" type="xs:string" use="optional"/>
        <xs:attribute name="model" type="ctr:modelDefinition" use="optional"/>
        <xs:attribute name="create-more" type="xs:boolean" use="optional"/>
        <xs:attribute name="focus-after-submit" type="xs:boolean" use="optional"/>
        <xs:attribute name="min-width" type="xs:string" use="optional"/>
        <xs:attribute name="max-width" type="xs:string" use="optional"/>
    </xs:complexType>

    <xs:complexType name="showModalPreFilterDefinition">
        <xs:annotation>
            <xs:documentation source="hthttps://wiki.i-novus.ruisplay/DCTWO/N2O.Documentation.Dependency"/>
        </xs:annotation>
        <xs:attribute name="field-id" type="xs:string" use="required"/>
        <xs:attribute name="ref" type="xs:string" use="optional"/>
        <xs:attribute name="value" type="xs:string" use="optional"/>
        <xs:attribute name="container-id" type="xs:string" use="optional"/>
    </xs:complexType>

    <xs:complexType name="showModalFormDefinition">
        <xs:sequence>
            <xs:element name="edit" type="editDefinition"/>
            <xs:element name="pre-filters" maxOccurs="1" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="pre-filter" type="showModalPreFilterDefinition" maxOccurs="unbounded"
                                    minOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="form-id" type="xs:string" use="required"/>
        <xs:attribute name="page-name" type="xs:string" use="optional"/>
        <xs:attribute name="refresh-on-close" type="xs:string" use="optional"/>
        <xs:attribute name="master-field-id" type="xs:string" use="optional"/>
        <xs:attribute name="detail-field-id" type="xs:string" use="optional"/>
        <xs:attribute name="width" type="xs:string" use="optional"/>
    </xs:complexType>

    <xs:complexType name="editDefinition">
        <xs:sequence>
            <xs:element name="invoke-action" type="ctr:submitActionDefinition" minOccurs="0"/>
            <xs:element name="redirect" type="ctr:redirectDef" minOccurs="0"/>
            <xs:element name="a" type="ctr:anchorDef" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="model" type="ctr:modelDefinition"/>
        <xs:attribute name="form-submit-label" type="xs:string"/>
        <xs:attribute name="refresh-after-submit" type="xs:boolean" use="optional"/>
        <xs:attribute name="create-more" type="xs:boolean" use="optional"/>
    </xs:complexType>

    <xs:complexType name="controlActionSubMenuDefinition">
        <xs:sequence>
            <xs:element name="menu-item" type="controlActionMenuItemDefinition" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>