backend/n2o/n2o-header/src/main/resources/net/n2oapp/framework/config/schema/standard-header-module-1.0.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           targetNamespace="http://n2oapp.net/framework/config/schema/standard-header-module-1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="module" type="moduleDefinition"/>

    <xs:complexType name="moduleDefinition">
        <xs:sequence>
            <xs:element name="space" type="spaceDefinition" minOccurs="0"/>
            <xs:element name="page" type="pageDefinition" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="id"/>
        <xs:attribute name="ref-id"/>
        <xs:attribute name="url"/>
        <xs:attribute name="name"/>
        <xs:attribute name="main-page"/>
    </xs:complexType>

    <xs:complexType name="spaceDefinition">
        <xs:sequence>
            <xs:element name="page" type="pageDefinition"/>
        </xs:sequence>
        <xs:attribute name="id"/>
        <xs:attribute name="name"/>
        <xs:attribute name="main-page"/>
    </xs:complexType>

    <xs:complexType name="pageDefinition">
        <xs:attribute name="id" use="required"/>
        <xs:attribute name="name" use="required"/>
    </xs:complexType>


</xs:schema>