backend/n2o/n2o-header/src/main/resources/net/n2oapp/framework/config/schema/standard-header-1.0.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           targetNamespace="http://n2oapp.net/framework/config/schema/standard-header-1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:ctr="http://n2oapp.net/framework/config/schema/base/control-base-1.0"
           xmlns:wgt="http://n2oapp.net/framework/config/schema/n2o-widget-1.0"
           xmlns:sys="http://n2oapp.net/framework/config/schema/sysmenu-1.0"
           xmlns:mod="http://n2oapp.net/framework/config/schema/standard-header-module-1.0">

    <xs:element name="header" type="headerDefinition"/>

    <xs:complexType name="headerDefinition">
        <xs:sequence>
            <xs:element name="navigation" type="navigationDefinition" minOccurs="1" maxOccurs="1"/>
            <xs:element name="user-menu" type="userMenuDefinition" minOccurs="1" maxOccurs="1"/>
            <xs:element name="user-context" type="userContextDefinition" minOccurs="1" maxOccurs="1"/>
            <xs:element name="system-menu" type="sys:systemMenuDef"/>
        </xs:sequence>
        <xs:attribute name="id"/>
    </xs:complexType>

    <xs:complexType name="navigationDefinition">
        <xs:sequence>
            <xs:element name="module-group" type="moduleGroupDefinition" minOccurs="1" maxOccurs="1"/>
            <xs:element name="module" type="mod:moduleDefinition" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="main-page" use="optional"/>
        <xs:attribute name="src" type="xs:string" use="optional"/>
    </xs:complexType>

    <xs:complexType name="moduleGroupDefinition">
        <xs:sequence>
            <xs:element name="module" type="mod:moduleDefinition"/>
        </xs:sequence>
        <xs:attribute name="id" use="required"/>
        <xs:attribute name="name"/>
    </xs:complexType>

    <xs:complexType name="userMenuDefinition">
        <xs:attribute name="src" type="xs:string" use="required"/>
        <xs:attribute name="username-context" type="xs:string" use="required"/>
    </xs:complexType>


    <xs:complexType name="userContextDefinition">
        <xs:sequence>
            <xs:element name="position" type="positionDefinition" minOccurs="1" maxOccurs="1"/>
            <xs:element name="org-structure" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="unit" type="contextUnitDefinition"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="src" type="xs:string" use="optional"/>
        <xs:attribute name="query-id" type="xs:string" use="required"/>
        <xs:attribute name="username-field-id" type="xs:string" use="required"/>
    </xs:complexType>
    <xs:complexType name="userContextElement">
        <xs:attribute name="label-field-id" type="xs:string" use="required"/>
        <xs:attribute name="value-field-id" type="xs:string" use="required"/>
    </xs:complexType>
    <xs:complexType name="contextUnitDefinition">
        <xs:complexContent>
            <xs:extension base="userContextElement">
                <xs:sequence>
                    <xs:element name="unit" type="contextUnitDefinition"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="positionDefinition">
        <xs:attribute name="label-field-id" type="xs:string" use="required"/>
        <xs:attribute name="value-field-id" type="xs:string" use="required"/>
        <xs:attribute name="context-param" type="xs:string" use="optional"/>
        <xs:attribute name="hint-field-id" type="xs:string" use="optional"/>
    </xs:complexType>
</xs:schema>