backend/n2o/n2o-api/src/main/resources/net/n2oapp/framework/config/schema/application-3.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://n2oapp.net/framework/config/schema/application-3.0"
           xmlns:menu="http://n2oapp.net/framework/config/schema/menu-3.0"
           xmlns:act="http://n2oapp.net/framework/config/schema/action-2.0"
           xmlns:ds="http://n2oapp.net/framework/config/schema/datasource-1.0"
           xmlns:sb="http://n2oapp.net/framework/config/schema/sidebar-3.0"
           xmlns:ev="http://n2oapp.net/framework/config/schema/event-3.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="application" type="applicationDefinition"/>

    <xs:complexType name="applicationDefinition">
        <xs:sequence>
            <xs:element name="datasources" type="datasourcesDefinition" minOccurs="0"/>
            <xs:element name="events" type="eventsDefinition" minOccurs="0"/>
            <xs:element name="header" type="headerDefinition" minOccurs="0"/>
            <xs:element name="sidebars" type="sidebarsDefinition" minOccurs="0"/>
            <xs:element name="footer" type="footerDefinition" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="welcome-page-id" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    Ссылка на страницу, которая открывается по /
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="navigation-layout" type="navigationLayout" default="fullSizeHeader">
            <xs:annotation>
                <xs:documentation>
                    Макет отображения элементов управления
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="navigation-layout-fixed" type="xs:boolean" default="false">
            <xs:annotation>
                <xs:documentation>
                    Фиксация шапки и бокового меню при скролле страницы
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="datasourcesDefinition">
        <xs:annotation>
            <xs:documentation>
                Источники данных приложения
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="datasource" type="ds:standardDatasourceDefinition" minOccurs="0"
                        maxOccurs="unbounded"/>
            <xs:element name="stomp-datasource" type="ds:stompDatasourceDefinition" minOccurs="0"
                        maxOccurs="unbounded"/>
            <xs:element name="browser-storage" type="ds:browserStorageDatasourceDefinition" minOccurs="0"
                        maxOccurs="unbounded"/>
            <xs:element name="inherited-datasource" type="ds:inheritedDatasourceDefinition" minOccurs="0"
                        maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="eventsDefinition">
        <xs:sequence>
            <xs:element ref="ev:stomp-event" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="sidebarsDefinition">
        <xs:annotation>
            <xs:documentation>
                Боковые панели приложения
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="sidebar" type="sb:sidebarDefinition"/>
            <xs:any namespace="##other">
                <xs:annotation>
                    <xs:documentation>
                        Подключаемая через библиотеку боковая панель
                    </xs:documentation>
                </xs:annotation>
            </xs:any>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="headerDefinition">
        <xs:annotation>
            <xs:documentation>
                Шапка
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="nav" type="menu:menuDefinition" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Навигационная панель
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="extra-menu" type="menu:menuDefinition" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Дополнительное меню.
                        Отображается в правой части шапки
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="search" type="searchDefinition" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Панель поиска
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="title" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    Заголовок шапки.
                    Возможно использование плейсхолдеров
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="datasource" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    Идентификатор источника данных
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="home-page-url" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    URL домашней страницы.
                    Переход на нее происходит по клику на логотип или заголовок
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="logo-src" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    Путь к файлу с логотипом, который будет отображаться в шапке
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="sidebar-icon" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    Иконка открытия боковой панели.
                    Иконка из https://fontawesome.com/v6/icons/
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="sidebar-toggled-icon" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    Иконка скрытия боковой панели.
                    Иконка из https://fontawesome.com/v6/icons/.
                    По умолчанию: значение `sidebar-icon`
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="src" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    React компонент шапки
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="class" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    CSS класс шапки
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="style" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    CSS стиль шапки
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:anyAttribute>
            <xs:annotation>
                <xs:documentation>
                    Возможность подключать любые атрибуты
                </xs:documentation>
            </xs:annotation>
        </xs:anyAttribute>
    </xs:complexType>

    <xs:complexType name="searchDefinition">
        <xs:annotation>
            <xs:documentation>
                Панель поиска
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="query-id" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    Идентификатор выборки, на основе которой происходит получение данных
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="filter-field-id" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    Поле выборки, отвечающее за фильтрацию
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="url-field-id" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    Поле выборки, отвечающее за ссылку перехода на результат поиска
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="label-field-id" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    Поле выборки, отвечающее за заголовок
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="icon-field-id" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    Поле выборки, отвечающее за иконку
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="description-field-id" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    Поле выборки, отвечающее за описание
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="target" type="act:openPageType" default="application">
            <xs:annotation>
                <xs:documentation>
                    Сценарий открытия страницы
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="footerDefinition">
        <xs:annotation>
            <xs:documentation>
                Подвал
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="left-text" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    Текст слева
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="right-text" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    Текст справа
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="src" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    React компонент подвала
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="class" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    CSS класс подвала
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="style" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    CSS стиль подвала
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:anyAttribute>
            <xs:annotation>
                <xs:documentation>
                    Возможность подключать любые атрибуты
                </xs:documentation>
            </xs:annotation>
        </xs:anyAttribute>
    </xs:complexType>

    <xs:simpleType name="navigationLayout">
        <xs:annotation>
            <xs:documentation>
                Виды отображения элементов управления
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="fullSizeHeader">
                <xs:annotation>
                    <xs:documentation>
                        Шапка во всю ширину экрана
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="fullSizeSidebar">
                <xs:annotation>
                    <xs:documentation>
                        Боковая панель во всю высоту экрана
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
