backend/n2o/n2o-api/src/main/resources/net/n2oapp/framework/config/schema/base-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://n2oapp.net/framework/config/schema/base-1.0">

    <xs:simpleType name="colorDefinition">
        <xs:annotation>
            <xs:documentation>
                Цвет
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="primary"/>
            <xs:enumeration value="secondary"/>
            <xs:enumeration value="success"/>
            <xs:enumeration value="danger"/>
            <xs:enumeration value="warning"/>
            <xs:enumeration value="info"/>
            <xs:enumeration value="light"/>
            <xs:enumeration value="dark"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="buttonColorDefinition">
        <xs:annotation>
            <xs:documentation>
                Цвет кнопки
            </xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="colorDefinition">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="link"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>

    <xs:simpleType name="generateDefinition">
        <xs:annotation>
            <xs:documentation>
                Варианты генерации стандартных действий
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="crud"/>
            <xs:enumeration value="create"/>
            <xs:enumeration value="update"/>
            <xs:enumeration value="delete"/>
            <xs:enumeration value="close"/>
            <xs:enumeration value="submit"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="triggerType">
        <xs:annotation>
            <xs:documentation>
                Действие, после которого происходит событие
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="click">
                <xs:annotation>
                    <xs:documentation>
                        Клик
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="hover">
                <xs:annotation>
                    <xs:documentation>
                        Наведение
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="directionType">
        <xs:restriction base="xs:string">
            <xs:annotation>
                <xs:documentation>
                    Направление отображения элементов
                </xs:documentation>
            </xs:annotation>
            <xs:enumeration value="row">
                <xs:annotation>
                    <xs:documentation>
                        Отображение элементов в строку
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="column">
                <xs:annotation>
                    <xs:documentation>
                        Отображение элементов в столбец
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>