backend/n2o/n2o-api/src/main/resources/net/n2oapp/framework/config/schema/custom-header-1.0.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           targetNamespace="http://n2oapp.net/framework/config/schema/custom-header-1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="header" type="headerDefinition"/>

    <xs:complexType name="headerDefinition">
        <xs:sequence>
            <xs:element name="src" type="xs:string" maxOccurs="1" minOccurs="1"/>
            <xs:element name="property">
                <xs:complexType>
                    <xs:attribute name="key" use="required"/>
                    <xs:attribute name="value" use="required"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>


</xs:schema>