backend/n2o/n2o-api/src/main/resources/net/n2oapp/framework/config/schema/fieldset-5.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://n2oapp.net/framework/config/schema/fieldset-5.0"
           xmlns:ctr2="http://n2oapp.net/framework/config/schema/control-3.0"
           xmlns:bs="http://n2oapp.net/framework/config/schema/base-1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="set" type="setDefinition"/>
    <xs:element name="line" type="lineDefinition"/>
    <xs:element name="multi-set" type="multiSetDefinition"/>

    <xs:complexType name="fields">
        <xs:complexContent>
            <xs:extension base="fieldsetsAndControls">
                <xs:sequence>
                    <xs:element name="row" type="rowDefinition" minOccurs="0"/>
                    <xs:element name="col" type="colDefinition" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="fieldsetsAndControls">
        <xs:complexContent>
            <xs:extension base="ctr2:controls">
                <xs:sequence>
                    <xs:element name="set" type="setDefinition" minOccurs="0"/>
                    <xs:element name="line" type="lineDefinition" minOccurs="0"/>
                    <xs:element name="multi-set" type="multiSetDefinition" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="fieldsetDefinition" abstract="true">
        <xs:annotation>
            <xs:documentation>Филдсеты.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="fieldsetsAndControls">
                <xs:sequence>
                    <xs:element name="row" type="rowDefinition" minOccurs="0"/>
                    <xs:element name="col" type="colDefinition" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="id" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>Идентификатор филдсета.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="ref-id" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>Ссылка на файл филдсета.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="src" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>React компонент филдсета.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="class" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>Класс компонента филдсета.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="style" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>Стиль компонента филдсета.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="label" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>Заголовок филдсета.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="description" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>Подзаголовок филдсета.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="field-label-location" type="locationType">
                    <xs:annotation>
                        <xs:documentation>Расположение лейблов.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="field-label-align" type="alignType">
                    <xs:annotation>
                        <xs:documentation>Выравнивание лейблов.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="field-label-width" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>
                            Ширина лейблов в пикселях.
                            Доступные единицы измерения: `px`, `em`, `rem`. При указании числа оно будет приведено к `px`
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="visible" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>Условие видимости.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="enabled" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>Условие доступности.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="depends-on" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>Список полей, от которых зависит филдсет.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="help" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>Подсказка.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="badge" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>Значок филдсета.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="badge-color" type="bs:colorDefinition">
                    <xs:annotation>
                        <xs:documentation>Цвет значка. Возможно использование плейсхолдеров.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="badge-shape" type="shapeType" default="square">
                    <xs:annotation>
                        <xs:documentation>Форма значка</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="badge-position" type="positionType" default="right">
                    <xs:annotation>
                        <xs:documentation>Позиция значка</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="badge-image" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>Поле выборки, отвечающее за картинку в значке</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="badge-image-position" type="positionType" default="left">
                    <xs:annotation>
                        <xs:documentation>Позиция картинки в значке</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="badge-image-shape" type="shapeType" default="circle">
                    <xs:annotation>
                        <xs:documentation>Форма картинки в значке</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:anyAttribute>
                    <xs:annotation>
                        <xs:documentation>Возможность подключать любые атрибуты.</xs:documentation>
                    </xs:annotation>
                </xs:anyAttribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="setDefinition">
        <xs:complexContent>
            <xs:extension base="fieldsetDefinition">
                <xs:annotation>
                    <xs:documentation>Простой филдсет.</xs:documentation>
                </xs:annotation>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="lineDefinition">
        <xs:complexContent>
            <xs:extension base="fieldsetDefinition">
                <xs:annotation>
                    <xs:documentation>Филдсет с горизонтальной линией.</xs:documentation>
                </xs:annotation>
                <xs:attribute name="collapsible" type="xs:boolean" default="true">
                    <xs:annotation>
                        <xs:documentation>Возможность раскрытия и сворачивания филдсета.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="has-separator" type="xs:boolean" default="true">
                    <xs:annotation>
                        <xs:documentation>Отображение горизонтального делителя.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="expand" type="xs:boolean" default="true">
                    <xs:annotation>
                        <xs:documentation>Исходное раскрытие филдсета.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="multiSetDefinition">
        <xs:complexContent>
            <xs:extension base="fieldsetDefinition">
                <xs:annotation>
                    <xs:documentation>Филдсет с динамическим числом полей.</xs:documentation>
                </xs:annotation>
                <xs:attribute name="id" type="xs:string" use="required">
                    <xs:annotation>
                        <xs:documentation>Идентификатор филдсета.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="children-label" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>
                            Заголовок дочерних элементов.
                            С помощью {index} можно управлять нумерацией. Возможно использование плейсхолдеров.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="first-children-label" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>
                            Заголовок первого дочернего элемента.
                            Для возможности отображать без нумерации. Возможно использование плейсхолдеров.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="add-label" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>Заголовок кнопки добавления. Возможно использование плейсхолдеров.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="remove-all-label" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>Заголовок кнопки удаления всех добавленных филдсетов. Возможно использование плейсхолдеров.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="can-remove-first" type="xs:boolean" default="false">
                    <xs:annotation>
                        <xs:documentation>Возможность удаления первого элемента. Возможно использование плейсхолдеров</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="can-add" type="xs:boolean" default="true">
                    <xs:annotation>
                        <xs:documentation>Возможность добавления новых филдсетов. Возможно использование плейсхолдеров</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="can-remove" type="xs:boolean" default="true">
                    <xs:annotation>
                        <xs:documentation>Возможность удаления новых филдсетов. Возможно использование плейсхолдеров</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="can-remove-all" type="xs:boolean" default="false">
                    <xs:annotation>
                        <xs:documentation>Возможность удаления всех добавленных филдсетов. Возможно использование плейсхолдеров</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="can-copy" type="xs:boolean" default="false">
                    <xs:annotation>
                        <xs:documentation>Возможность копирования филдсета в новый (вместе с данными). Возможно использование плейсхолдеров</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="primary-key" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>Уникальный ключ каждого филдсета. По умолчанию id.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="generate-primary-key" type="xs:boolean" default="false">
                    <xs:annotation>
                        <xs:documentation>Генерация уникального ключа для каждого филдсета.
                            Значение guid будет генерироваться в primary-key. По умолчанию false</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>


    <xs:complexType name="rowDefinition">
        <xs:annotation>
            <xs:documentation>Строка филдсета.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="fieldsetsAndControls">
                <xs:sequence>
                    <xs:element name="col" type="colDefinition" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="class" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>Класс компонента строки.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="style" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>Стиль компонента строки.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:anyAttribute>
                    <xs:annotation>
                        <xs:documentation>Возможность подключать любые атрибуты.</xs:documentation>
                    </xs:annotation>
                </xs:anyAttribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="colDefinition">
        <xs:annotation>
            <xs:documentation>Столбец филдсета.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="fieldsetsAndControls">
                <xs:sequence>
                    <xs:element name="row" type="rowDefinition" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="size" type="xs:integer">
                    <xs:annotation>
                        <xs:documentation>Ширина столбца согласно сетке bootstrap (1-12).</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="class" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>Класс компонента столбца.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="style" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>Стиль компонента столбца.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="visible" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>Условие видимости.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:anyAttribute>
                    <xs:annotation>
                        <xs:documentation>Возможность подключать любые атрибуты.</xs:documentation>
                    </xs:annotation>
                </xs:anyAttribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:simpleType name="locationType">
        <xs:annotation>
            <xs:documentation>Расположение лейблов.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="left"/>
            <xs:enumeration value="top"/>
        </xs:restriction>
    </xs:simpleType>


    <xs:simpleType name="alignType">
        <xs:annotation>
            <xs:documentation>Выравнивание лейблов.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="left"/>
            <xs:enumeration value="right"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="shapeType">
        <xs:annotation>
            <xs:documentation>Тип формы изображения.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="square"/>
            <xs:enumeration value="circle"/>
            <xs:enumeration value="rounded"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="positionType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="left"/>
            <xs:enumeration value="right"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>