backend/n2o/n2o-api/src/main/resources/net/n2oapp/framework/config/schema/n2o-chart-4.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://n2oapp.net/framework/config/schema/n2o-chart-4.0"
           xmlns:wgt="http://n2oapp.net/framework/config/schema/n2o-widget-4.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="areas" type="areaChartDefinition"/>
    <xs:element name="bars" type="barChartDefinition"/>
    <xs:element name="lines" type="lineChartDefinition"/>
    <xs:element name="pie" type="pieChartDefinition"/>

    <xs:complexType name="charts">
        <xs:complexContent>
            <xs:extension base="wgt:widgetDefinition">
                <xs:annotation>
                    <xs:documentation>Виджет диаграмма.</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                    <xs:element name="areas" type="areaChartDefinition" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="bars" type="barChartDefinition" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="lines" type="lineChartDefinition" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="pie" type="pieChartDefinition" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:simpleType name="xAxisOrientationType">
        <xs:annotation>
            <xs:documentation>Положение оси x.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="top"/>
            <xs:enumeration value="bottom"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="yAxisOrientationType">
        <xs:annotation>
            <xs:documentation>Положение оси y.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="left"/>
            <xs:enumeration value="right"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="legendIconType">
        <xs:annotation>
            <xs:documentation>Тип иконок элементов легенды.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="line"/>
            <xs:enumeration value="square"/>
            <xs:enumeration value="rect"/>
            <xs:enumeration value="circle"/>
            <xs:enumeration value="cross"/>
            <xs:enumeration value="diamond"/>
            <xs:enumeration value="star"/>
            <xs:enumeration value="triangle"/>
            <xs:enumeration value="wye"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="chartComponentBaseDefinition">
        <xs:attribute name="x-data-key" type="xs:string">
            <xs:annotation>
                <xs:documentation>Ключ значений по оси x.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="x-orientation" type="xAxisOrientationType" default="bottom">
            <xs:annotation>
                <xs:documentation>Положение оси x.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="x-label" type="xs:boolean" default="false">
            <xs:annotation>
                <xs:documentation>Подпись оси x.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="y-data-key" type="xs:string">
            <xs:annotation>
                <xs:documentation>Ключ значений по оси y.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="y-orientation" type="yAxisOrientationType" default="left">
            <xs:annotation>
                <xs:documentation>Положение оси y.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="y-label" type="xs:boolean" default="false">
            <xs:annotation>
                <xs:documentation>Подпись оси y.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="grid-stroke-dasharray" type="xs:string">
            <xs:annotation>
                <xs:documentation>Паттерн линий сетки.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="grid-horizontal" type="xs:boolean" default="true">
            <xs:annotation>
                <xs:documentation>Наличие горизонтальных линий сетки.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="grid-vertical" type="xs:boolean" default="true">
            <xs:annotation>
                <xs:documentation>Наличие вертикальных линий сетки.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="tooltip-separator" type="xs:string">
            <xs:annotation>
                <xs:documentation>Разделитель между названием и значением.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="legend-icon-type" type="legendIconType" default="line">
            <xs:annotation>
                <xs:documentation>Тип иконок элементов легенды.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="areaChartDefinition">
        <xs:annotation>
            <xs:documentation>Компонент диаграммы-области.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="chartComponentBaseDefinition">
                <xs:sequence>
                    <xs:element name="area" type="areaDefinition" minOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="barChartDefinition">
        <xs:annotation>
            <xs:documentation>Компонент гистограммы.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="chartComponentBaseDefinition">
                <xs:sequence>
                    <xs:element name="bar" type="barDefinition" minOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="lineChartDefinition">
        <xs:annotation>
            <xs:documentation>Компонент линейного графика.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="chartComponentBaseDefinition">
                <xs:sequence>
                    <xs:element name="line" type="lineDefinition" minOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:simpleType name="lineType">
        <xs:annotation>
            <xs:documentation>Тип интерполяции линии.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="basis"/>
            <xs:enumeration value="basisClosed"/>
            <xs:enumeration value="basisOpen"/>
            <xs:enumeration value="linear"/>
            <xs:enumeration value="linearClosed"/>
            <xs:enumeration value="natural"/>
            <xs:enumeration value="monotoneX"/>
            <xs:enumeration value="monotoneY"/>
            <xs:enumeration value="monotone"/>
            <xs:enumeration value="step"/>
            <xs:enumeration value="stepBefore"/>
            <xs:enumeration value="stepAfter"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="areaDefinition">
        <xs:annotation>
            <xs:documentation>Область.</xs:documentation>
        </xs:annotation>
        <xs:attribute name="data-key" type="xs:string">
            <xs:annotation>
                <xs:documentation>Ключ в данных.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="color" type="xs:string">
            <xs:annotation>
                <xs:documentation>Цвет зоны.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="stroke" type="xs:string">
            <xs:annotation>
                <xs:documentation>Цвет линии.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="line-type" type="lineType" default="linear">
            <xs:annotation>
                <xs:documentation>Тип интерполяции линии.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="label" type="xs:boolean" default="false">
            <xs:annotation>
                <xs:documentation>Наличие подписи значений.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="barDefinition">
        <xs:annotation>
            <xs:documentation>Столбец.</xs:documentation>
        </xs:annotation>
        <xs:attribute name="data-key" type="xs:string">
            <xs:annotation>
                <xs:documentation>Ключ в данных.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="color" type="xs:string">
            <xs:annotation>
                <xs:documentation>Цвет зоны.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="label" type="xs:boolean" default="false">
            <xs:annotation>
                <xs:documentation>Наличие подписи значений.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="lineDefinition">
        <xs:annotation>
            <xs:documentation>Линия.</xs:documentation>
        </xs:annotation>
        <xs:attribute name="data-key" type="xs:string">
            <xs:annotation>
                <xs:documentation>Ключ в данных.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="color" type="xs:string">
            <xs:annotation>
                <xs:documentation>Цвет линии.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="type" type="lineType" default="linear">
            <xs:annotation>
                <xs:documentation>Тип интерполяции линии.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="label" type="xs:boolean" default="false">
            <xs:annotation>
                <xs:documentation>Наличие подписи значений.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="pieChartDefinition">
        <xs:annotation>
            <xs:documentation>Компонент круговой диаграммы.</xs:documentation>
        </xs:annotation>
        <xs:attribute name="cx" type="xs:integer">
            <xs:annotation>
                <xs:documentation>Координата центра по x.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="cy" type="xs:integer">
            <xs:annotation>
                <xs:documentation>Координата центра по y.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="inner-radius" type="xs:integer" default="0">
            <xs:annotation>
                <xs:documentation>Внутренний радиус.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="outer-radius" type="xs:integer">
            <xs:annotation>
                <xs:documentation>Внешний радиус.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="start-angle" type="xs:integer" default="0">
            <xs:annotation>
                <xs:documentation>Начальный угол графика (в градусах).</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="end-angle" type="xs:integer" default="360">
            <xs:annotation>
                <xs:documentation>Конечный угол графика (в градусах).</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="name-key" type="xs:string">
            <xs:annotation>
                <xs:documentation>Ключ названия сектора.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="data-key" type="xs:string">
            <xs:annotation>
                <xs:documentation>Ключ значения сектора.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="color" type="xs:string">
            <xs:annotation>
                <xs:documentation>Заливка выбранным цветом.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="label" type="xs:boolean" default="false">
            <xs:annotation>
                <xs:documentation>Наличие подписи значений.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

</xs:schema>