backend/n2o/n2o-api/src/main/resources/net/n2oapp/framework/config/schema/n2o-event-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://n2oapp.net/framework/config/schema/n2o-event-1.0"
           xmlns:act="http://n2oapp.net/framework/config/schema/base/action-base-1.0"
           xmlns:query_3.0="http://n2oapp.net/framework/config/schema/query-3.0"
           xmlns:ctr="http://n2oapp.net/framework/config/schema/base/control-base-1.0">

    <xs:element name="show-modal" type="showModalOpenPageDefinition"/>
    <xs:element name="show-modal-form" type="showModalFormDefinition"/>
    <xs:element name="open-page" type="showModalOpenPageDefinition"/>
    <!--<xs:element name="edit" type="editDefinition"/>-->
    <xs:element name="custom" type="customDefinition"/>
    <xs:element name="update-model" type="updateModelMasterDetailDef"/>
    <xs:element name="on-click" type="onClickDefinition"/>
    <xs:element name="a" type="ctr:anchorDef" maxOccurs="1" minOccurs="0"/>
    <xs:element name="close"/>
    <xs:element name="invoke-action-and-close" type="invokeActionAndCloseDefinition"/>
    <xs:element name="validate"/>

    <!--определение открытия нового пейджа (в модалке или новой вкладке)-->
    <xs:complexType name="showModalOpenPageDefinition">
        <xs:sequence>
            <xs:element name="pre-filters" maxOccurs="1" minOccurs="0">
                <xs:complexType>
                    <xs:annotation>
                        <xs:documentation source="https://wiki.i-novus.ru/display/N2O/N2O.Documentation.Dependency"/>
                    </xs:annotation>
                    <xs:sequence>
                        <xs:element name="pre-filter" type="showModalPreFilterDefinition" maxOccurs="unbounded"
                                    minOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <!--идентификатор макета, который отобразится в модальном окне-->
        <xs:attribute name="page-id" type="xs:string" use="required"/>
        <xs:attribute name="after-submit" type="afterSubmitTypes" use="optional"/>
        <xs:attribute name="refresh-after-submit" type="xs:boolean" use="optional"/>
        <!--заголовок страницы-->
        <xs:attribute name="page-name" type="xs:string" use="optional"/>
        <xs:attribute name="refresh-on-close" type="xs:boolean" use="optional"/>
        <!--идентификатор действия, в рамках которого откроется макет в модальном окне-->
        <!--если действие не стандартное и если в макете несколько панелей, то выбранное действие относится к объекту результирующей панели-->
        <xs:attribute name="action-id" type="act:actionGroupEnum" use="optional"/>
        <xs:attribute name="result-container-id" type="xs:string" use="optional"/>
        <!--идентификатор поля выборки (та выборка, на которой стоит текущая запись)-->
        <!--, значение которого передастся в выборку результирующей панели открываемой страницы-->
        <!--по умолчанию 'id'-->
        <xs:attribute name="master-field-id" type="xs:string" use="optional"/>
        <!--идентификатор поля выборки (та выборка, которая является результирующей панелью в открываемом модальном окне страницы)-->
        <!--, фильтруемое по значению master-field-id-->
        <!--по умолчанию 'id'-->
        <xs:attribute name="detail-field-id" type="xs:string" use="optional"/>
        <xs:attribute name="container-id" type="xs:string" use="optional"/>
        <xs:attribute name="refresh-dependent-container" type="xs:boolean" use="optional"/>
        <!--<xs:attribute name="after-submit" type="ctr:afterSubmitTypes"/>-->
        <xs:attribute name="width" type="xs:string" use="optional"/>
        <xs:attribute name="model" type="ctr:modelDefinition" use="optional"/>
        <xs:attribute name="create-more" type="xs:boolean" use="optional"/>
        <xs:attribute name="focus-after-submit" type="xs:boolean" use="optional"/>
        <xs:attribute name="min-width" type="xs:string" use="optional"/>
        <xs:attribute name="max-width" type="xs:string" use="optional"/>
    </xs:complexType>

    <xs:complexType name="showModalPreFilterDefinition">
        <xs:annotation>
            <xs:documentation source="https://wiki.i-novus.ru/display/N2O/N2O.Documentation.Dependency"/>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="value" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="field-id" type="xs:string" use="required"/>
        <xs:attribute name="ref" type="xs:string" use="optional"/>
        <xs:attribute name="value" type="xs:string" use="optional"/>
        <xs:attribute name="container-id" type="xs:string" use="optional"/>
        <xs:attribute name="type" type="query_3.0:searchTypeEnumeration" use="optional"/>
    </xs:complexType>

    <xs:simpleType name="afterSubmitTypes">
        <xs:restriction>
            <xs:enumeration value="read"/>
            <xs:enumeration value="edit"/>
            <xs:enumeration value="closeModal"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="showModalFormDefinition">
        <xs:sequence>
            <xs:element name="edit" type="editWithoutAfterSubmitDefinition"/>
            <xs:element name="pre-filters" maxOccurs="1" minOccurs="0">
                <xs:complexType>
                    <xs:annotation>
                        <xs:documentation source="https://wiki.i-novus.ru/display/N2O/N2O.Documentation.Dependency"/>
                    </xs:annotation>
                    <xs:sequence>
                        <xs:element name="pre-filter" type="showModalPreFilterDefinition" maxOccurs="unbounded"
                                    minOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="form-id" type="xs:string" use="required"/>
        <xs:attribute name="page-name" type="xs:string" use="optional"/>
        <xs:attribute name="refresh-on-close" type="xs:boolean" use="optional"/>
        <xs:attribute name="master-field-id" type="xs:string" use="optional"/>
        <xs:attribute name="detail-field-id" type="xs:string" use="optional"/>
        <xs:attribute name="width" type="xs:string" use="optional"/>
        <xs:attribute name="min-width" type="xs:string" use="optional"/>
        <xs:attribute name="max-width" type="xs:string" use="optional"/>
    </xs:complexType>

    <!--edit в кнопке show-modal-form-->
    <xs:complexType name="editWithoutAfterSubmitDefinition">
        <xs:complexContent>
            <xs:extension base="editDefinition">
                <xs:attribute name="focus-after-submit" type="xs:boolean" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="editDefinition">
        <xs:sequence>
            <xs:element name="invoke-action" type="ctr:submitActionDefinition" minOccurs="0"/>
            <xs:element name="redirect" type="ctr:redirectDef" minOccurs="0"/>
            <xs:element name="a" type="ctr:anchorDef" minOccurs="0"/>
            <xs:element name="create-or-update" type="ctr:createOrUpdateActionDef" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="model" type="ctr:modelDefinition"/>
        <xs:attribute name="condition" type="xs:string"/>
        <xs:attribute name="form-submit-label" type="xs:string"/>
        <xs:attribute name="refresh-after-submit" type="xs:boolean" use="optional"/>
        <xs:attribute name="create-more" type="xs:boolean" use="optional"/>
    </xs:complexType>

    <xs:complexType name="customDefinition">
        <xs:sequence>
            <xs:element name="properties" type="propertyListDefinition" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="src" use="required"/>
    </xs:complexType>

    <xs:complexType name="propertyListDefinition">
        <xs:sequence>
            <xs:element name="property" type="propertyDefinition" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="propertyDefinition">
        <xs:attribute name="key" type="xs:string" use="required"/>
        <xs:attribute name="value" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="invokeActionAndCloseDefinition">
        <xs:complexContent>
            <xs:extension base="editDefinition">
                <xs:attribute name="action-id" type="xs:string" use="required"/>
                <xs:attribute name="confirmation" type="xs:boolean" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="updateModelMasterDetailDef">
        <xs:sequence>
            <xs:element name="pre-filters" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="pre-filter" type="updateModelPreFilterDefinition"
                                    maxOccurs="unbounded"
                                    minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

        </xs:sequence>
        <xs:attribute name="query-id" use="required"/>
        <xs:attribute name="target" type="targetType" use="optional"/>
        <xs:attribute name="value-field-id" use="optional"/>
        <xs:attribute name="target-field-id" use="optional"/>
        <xs:attribute name="master-field-id" use="required"/>
        <xs:attribute name="detail-field-id" use="required"/>
    </xs:complexType>

    <xs:complexType name="updateModelPreFilterDefinition">
        <xs:complexContent>
            <xs:extension base="controlPreFilterDefinition">
                <xs:attribute name="on-change" type="xs:boolean" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="controlPreFilterDefinition">
        <xs:annotation>
            <xs:documentation source="https://wiki.i-novus.ru/display/N2O/N2O.Documentation.Dependency"/>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="value" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="field-id" type="xs:string" use="required"/>
        <xs:attribute name="ref" type="xs:string" use="optional"/>
        <xs:attribute name="value" type="xs:string" use="optional"/>
        <xs:attribute name="type" type="query_3.0:searchTypeEnumeration" use="optional"/>
    </xs:complexType>

    <xs:simpleType name="targetType">
        <xs:restriction>
            <xs:enumeration value="form"/>
            <xs:enumeration value="field"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="onClickDefinition">
        <xs:sequence>
            <xs:element name="properties" type="propertyListDefinition" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="src" type="xs:string"/>
        <xs:attribute name="function-name" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="anchorDef">
        <xs:attribute name="href" use="required"/>
        <xs:attribute name="target" use="optional" type="redirectTarget"/>
    </xs:complexType>

    <xs:simpleType name="redirectTarget">
        <xs:restriction>
            <xs:enumeration value="self"/>
            <xs:enumeration value="newWindow"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>



