backend/n2o/n2o-api/src/main/resources/net/n2oapp/framework/config/schema/object-4.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://n2oapp.net/framework/config/schema/object-4.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:dmn="http://n2oapp.net/framework/config/schema/base/domain-base-1.0"
           xmlns:tool="http://n2oapp.net/framework/config/schema/base/toolbar-base-1.0"
           xmlns:dp="http://n2oapp.net/framework/config/schema/data-provider-1.0"
           xmlns:act="http://n2oapp.net/framework/config/schema/action-1.0">

    <xs:element name="object" type="objectDefinition"/>

    <xs:complexType name="objectDefinition">
        <xs:annotation>
            <xs:documentation>Определение объекта.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="fields" type="fieldsDefinition" minOccurs="0"/>
            <xs:element name="operations" type="operationListDefinition" minOccurs="0"/>
            <xs:element name="validations" type="validationsDefinition" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string">
            <xs:annotation>
                <xs:documentation>Наименование объекта.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="table-name" type="xs:string">
            <xs:annotation>
                <xs:documentation>Наименование таблицы БД, ассоциированной с объектом.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="entity-class" type="xs:string">
            <xs:annotation>
                <xs:documentation>Класс сущности, ассоциированной с объектом.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="service-class" type="xs:string">
            <xs:annotation>
                <xs:documentation>Класс сервиса, выполняющего действия над объектом.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="service-name" type="xs:string">
            <xs:annotation>
                <xs:documentation>Имя сервиса, выполняющего действия над объектом.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="app-name" type="xs:string">
            <xs:annotation>
                <xs:documentation>Имя приложения, содержащего объект.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="module-name" type="xs:string">
            <xs:annotation>
                <xs:documentation>Имя модуля, содержащего объект.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="fieldsDefinition">
        <xs:annotation>
            <xs:documentation>Поля объекта.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="field" type="fieldDefinition" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Простое поле объекта.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="reference" type="referenceDefinition" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Составное поле.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="list" type="referenceDefinition" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Поле - список объектов.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="set" type="referenceDefinition" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Поле - множество объектов.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="fieldDefinition" abstract="true">
        <xs:attribute name="id" use="required">
            <xs:annotation>
                <xs:documentation>Идентификатор поля.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="default-value" type="xs:string">
            <xs:annotation>
                <xs:documentation>Значение по умолчанию.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="domain" type="dmn:domainType">
            <xs:annotation>
                <xs:documentation>Тип данных поля.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="normalize" type="xs:string">
            <xs:annotation>
                <xs:documentation>SpEL выражение, применяемое к значению перед маппингом.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="mapping" type="xs:string">
            <xs:annotation>
                <xs:documentation>Маппинг значения в сущность или провайдер данных.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="required" type="xs:boolean" default="false">
            <xs:annotation>
                <xs:documentation>Обязательность поля.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="enabled" type="xs:string">
            <xs:annotation>
                <xs:documentation>Условие, при котором должен быть выполнен маппинг.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="referenceDefinition">
        <xs:sequence>
            <xs:element name="field" type="fieldDefinition" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="reference" type="referenceDefinition" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element name="list" type="referenceDefinition" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element name="set" type="referenceDefinition" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="id" use="required">
            <xs:annotation>
                <xs:documentation>Идентификатор ссылки.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="object-id">
            <xs:annotation>
                <xs:documentation>Объект, в котором представлено описание поля.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="entity-class" type="xs:string">
            <xs:annotation>
                <xs:documentation>Класс сущности, на который ссылается поле.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="mapping" type="xs:string">
            <xs:annotation>
                <xs:documentation>Маппинг составного поля в параметр провайдера.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="required" type="xs:boolean" default="false">
            <xs:annotation>
                <xs:documentation>Обязательность поля.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="enabled" type="xs:string">
            <xs:annotation>
                <xs:documentation>Условие, при котором должен быть выполнен маппинг.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="operationListDefinition">
        <xs:annotation>
            <xs:documentation>Список операций над объектом.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="operation" type="operationDefinition" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="operationValidationListDefinition">
        <xs:annotation>
            <xs:documentation>Список валидаций объекта.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="validationsDefinition">
                <xs:attribute name="white-list" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>
                            Список валидаций, которые будут вызваны перед или после выполнения операции.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="black-list" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>
                            Список валидаций, которые не будут вызваны перед или после выполнения операции.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="operationDefinition">
        <xs:annotation>
            <xs:documentation>Операция над объектом.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="invocation" type="operationInvocationDefinition"/>
            <xs:element name="in" type="operationInParameterListDefinition" minOccurs="0"/>
            <xs:element name="out" type="operationOutParameterListDefinition" minOccurs="0"/>
            <xs:element name="fail-out" type="operationFailOutParameterListDefinition" minOccurs="0"/>
            <xs:element name="validations" type="operationValidationListDefinition" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Исходящий параметр ошибки операции.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>Идентификатор операции.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="name" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    Наименование операции. Если `id` равен `create`, `update`, `save`, `persist`, то - "Сохранить".
                    В иных случаях - "Подтвердить".
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="description" type="xs:string">
            <xs:annotation>
                <xs:documentation>Описание операции.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="success-text" type="xs:string" default="Данные сохранены">
            <xs:annotation>
                <xs:documentation>Текст в случае успеха.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="fail-text" type="xs:string" default="Не удалось выполнить действие">
            <xs:annotation>
                <xs:documentation>Текст в случае непредвиденной ошибки.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="confirm" type="xs:boolean">
            <xs:annotation>
                <xs:documentation>Требуется ли подтверждение действия?</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="confirm-text" type="xs:string" default="Вы уверены, что хотите выполнить действие?">
            <xs:annotation>
                <xs:documentation>Текст подтверждения действия.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="submit-label" type="xs:string">
            <xs:annotation>
                <xs:documentation>Наименование кнопки отправки операции.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="operationInvocationDefinition" abstract="true">
        <xs:annotation>
            <xs:documentation>Провайдер данных операции.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="sql" type="dp:sqlDefinition" minOccurs="0"/>
            <xs:element name="rest" type="dp:restDefinition" minOccurs="0"/>
            <xs:element name="java" type="dp:javaDefinition" minOccurs="0"/>
            <xs:element name="test" type="dp:testDefinition" minOccurs="0"/>
            <xs:element name="mongodb" type="dp:mongoDbDefinition" minOccurs="0"/>
            <xs:element name="camunda" type="dp:camundaDefinition" minOccurs="0"/>
            <xs:any namespace="##other" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Провайдер данных.</xs:documentation>
                </xs:annotation>
            </xs:any>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="operationInParameterListDefinition">
        <xs:annotation>
            <xs:documentation>Входящие параметры операции.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="field" type="operationInParameterField" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="reference" type="operationInParameterReference" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="list" type="operationInParameterReference" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="set" type="operationInParameterReference" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="operationOutParameterListDefinition">
        <xs:annotation>
            <xs:documentation>Исходящие параметры операции.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="field" type="operationOutParameterField"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="operationFailOutParameterListDefinition">
        <xs:annotation>
            <xs:documentation>Исходящие параметры в случае ошибки операции.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="field" type="operationOutParameterField"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="operationInParameterField">
        <xs:annotation>
            <xs:documentation>Входящий простой параметр операции.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="fieldDefinition">
                <xs:attribute name="param" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>Параметр содержащий url.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="validation-fail-key" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>Код ошибки валидации с сервера.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="enabled" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>Условие, при котором должен быть выполнен маппинг.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="operationInParameterReference">
        <xs:annotation>
            <xs:documentation>Входящий составной параметр операции.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="referenceDefinition">
                <xs:attribute name="enabled" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>Условие, при котором должен быть выполнен маппинг.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="operationOutParameterField">
        <xs:annotation>
            <xs:documentation>Исходящий параметр операции.</xs:documentation>
        </xs:annotation>
        <xs:attribute name="id" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>Идентификатор параметра.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="default-value" type="xs:string">
            <xs:annotation>
                <xs:documentation>Значение по умолчанию.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="domain" type="dmn:domainType">
            <xs:annotation>
                <xs:documentation>Тип данных.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="normalize" type="xs:string">
            <xs:annotation>
                <xs:documentation>SpEL выражение, применяемое к значению перед маппингом.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="mapping" type="xs:string">
            <xs:annotation>
                <xs:documentation>Маппинг значения в сущность или провайдер данных.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="required" type="xs:boolean">
            <xs:annotation>
                <xs:documentation>Обязательность параметра.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="validationsDefinition">
        <xs:annotation>
            <xs:documentation>Список валидаций операции.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="condition" type="conditionDefinition" minOccurs="0"/>
            <xs:element name="constraint" type="constraintDefinition" minOccurs="0"/>
            <xs:element name="mandatory" type="requiredDefinition" minOccurs="0"/>
            <xs:element name="dialog" type="dialogDefinition" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="conditionDefinition">
        <xs:annotation>
            <xs:documentation>Валидация условия значений полей.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="validationDefinition">
                <xs:attribute name="on" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>Поля, от которых зависит условие валидации.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="src" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>
                            Путь к js файлу, который содержит условие валидации.
                            Если не задан, необходимо задать условие в теле.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="constraintDefinition">
        <xs:annotation>
            <xs:documentation>Валидация ограничений полей.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="validationDefinition">
                <xs:sequence>
                    <xs:element name="invocation" type="operationInvocationDefinition"/>
                    <xs:element name="in" type="operationInParameterListDefinition" maxOccurs="unbounded"/>
                    <xs:element name="out" type="operationOutParameterListDefinition" minOccurs="0"
                                maxOccurs="unbounded"/>
                </xs:sequence>
                <xs:attribute name="result" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>Результат валидации.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="requiredDefinition">
        <xs:annotation>
            <xs:documentation>Валидация обязательности заполнения поля.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="validationDefinition">
                <xs:attribute name="on" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>Поля, от которых зависит условие валидации.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="src" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>
                            Путь к js файлу, который содержит условие валидации.
                            Если не задан, необходимо задать условие в теле.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="validationDefinition">
        <xs:attribute name="id" use="required">
            <xs:annotation>
                <xs:documentation>Идентификатор валидации.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="severity" type="severityDefinition" use="required">
            <xs:annotation>
                <xs:documentation>Уровень важности валидации.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="server-moment" type="serverMomentDefinition">
            <xs:annotation>
                <xs:documentation>Момент срабатывания валидации на сервере.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="field-id" type="xs:string">
            <xs:annotation>
                <xs:documentation>Поле, под которым отобразится сообщение.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="message" type="xs:string">
            <xs:annotation>
                <xs:documentation>Сообщение, в случае нарушения валидации. Может содержать параметры.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="enabled" type="xs:string" default="true">
            <xs:annotation>
                <xs:documentation>Включение валидации.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="side" type="validationSideDefinition">
            <xs:annotation>
                <xs:documentation>Выполнение на клиенте и/или сервере.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="dialogDefinition">
        <xs:annotation>
            <xs:documentation>Валидация с диалогом выбора.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="invocation" type="operationInvocationDefinition" minOccurs="0"/>
            <xs:element name="in" type="operationInParameterListDefinition" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="out" type="operationOutParameterListDefinition" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="toolbar" type="tool:toolbarDefinition"/>
        </xs:sequence>
        <xs:attribute name="id" use="required">
            <xs:annotation>
                <xs:documentation>Идентификатор валидации.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="server-moment" type="serverMomentDefinition">
            <xs:annotation>
                <xs:documentation>Момент срабатывания валидации на сервере.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="message" type="xs:string">
            <xs:annotation>
                <xs:documentation>Сообщение, в случае нарушения валидации. Может содержать параметры.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="result" type="xs:string">
            <xs:annotation>
                <xs:documentation>Результат валидации.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="enabled" type="xs:string" default="true">
            <xs:annotation>
                <xs:documentation>Включение валидации.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="size" type="act:modalSize" default="lg">
            <xs:annotation>
                <xs:documentation>Размер окна диалога.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:simpleType name="validationSideDefinition">
        <xs:restriction>
            <xs:enumeration value="client"/>
            <xs:enumeration value="server"/>
            <xs:enumeration value="client,server"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="severityDefinition">
        <xs:restriction>
            <xs:enumeration value="danger"/>
            <xs:enumeration value="warning"/>
            <xs:enumeration value="info"/>
            <xs:enumeration value="success"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="serverMomentDefinition">
        <xs:restriction>
            <xs:enumeration value="before-operation"/>
            <xs:enumeration value="before-query"/>
            <xs:enumeration value="after-success-query"/>
            <xs:enumeration value="after-fail-query"/>
            <xs:enumeration value="after-fail-operation"/>
            <xs:enumeration value="after-success-operation"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>