backend/n2o/n2o-api/src/main/resources/net/n2oapp/framework/config/schema/object-3.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://n2oapp.net/framework/config/schema/object-3.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:dmn="http://n2oapp.net/framework/config/schema/base/domain-base-1.0"
           xmlns:dp="http://n2oapp.net/framework/config/schema/data-provider-1.0">


    <xs:element name="object" type="objectDefinition"/>

    <!--определение объекта-->
    <xs:complexType name="objectDefinition">
        <xs:sequence>
            <xs:element name="fields" type="fieldsDefinition" maxOccurs="1" minOccurs="0"/>
            <xs:element name="operations" type="operationListDefinition" maxOccurs="1" minOccurs="0"/>
            <xs:element name="validations" type="validationsDefinition" maxOccurs="1" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string">
            <xs:annotation>
                <xs:documentation>Наименование объекта</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="table-name" type="xs:string">
            <xs:annotation>
                <xs:documentation>Наименование таблицы БД, ассоциированной с объектом</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="entity-class" type="xs:string">
            <xs:annotation>
                <xs:documentation>Класс сущности, ассоциированной с объектом</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="service-class" type="xs:string">
            <xs:annotation>
                <xs:documentation>Класс сервиса, выполняющего действия над объектом</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="service-name" type="xs:string">
            <xs:annotation>
                <xs:documentation>Имя сервиса, выполняющего действия над объектом</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="app-name" type="xs:string">
            <xs:annotation>
                <xs:documentation>Имя приложения, содержащего объект</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="module-name" type="xs:string">
            <xs:annotation>
                <xs:documentation>Имя модуля, содержащего объект</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="fieldsDefinition">
        <xs:sequence>
            <xs:element name="field" type="fieldDefinition" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element name="reference" type="referenceDefinition" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element name="list" type="referenceDefinition" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element name="set" type="referenceDefinition" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="fieldDefinition" abstract="true">
        <xs:attribute name="id" use="required">
            <xs:annotation>
                <xs:documentation>Идентификатор поля</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="name" use="optional">
            <xs:annotation>
                <xs:documentation>Наименование поля</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="default-value" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>Значение по умолчанию</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="domain" type="dmn:domainType" use="optional">
            <xs:annotation>
                <xs:documentation>Тип данных поля</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="normalize" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>SpEL выражение, применяемое к значению перед маппингом</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="mapper" type="mapperDefinition" use="optional">
            <xs:annotation>
                <xs:documentation>Способ маппинга в параметры провайдера</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="mapping" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>Маппинг значения в сущность или провайдер данных</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="required" type="xs:boolean" use="optional" default="false">
            <xs:annotation>
                <xs:documentation>Обязательность поля</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="referenceDefinition">
        <xs:sequence>
            <xs:element name="field" type="fieldDefinition" maxOccurs="1" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="id" use="required">
            <xs:annotation>
                <xs:documentation>Идентификатор ссылки (без .id)</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="object-id">
            <xs:annotation>
                <xs:documentation>Объект, на который ссылается поле</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="name" use="optional">
            <xs:annotation>
                <xs:documentation>Наименование ссылки</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="entity-class" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>Класс сущности, на который ссылается поле</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="mapping" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>Маппинг ссылки в сущность или провайдер данных</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="required" type="xs:boolean" use="optional" default="false">
            <xs:annotation>
                <xs:documentation>Обязательность поля</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <!--список действий над объектом-->
    <xs:complexType name="operationListDefinition">
        <xs:sequence>
            <xs:element name="operation" type="operationDefinition" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="mapperDefinition">
        <xs:annotation>
            <xs:documentation>Способ маппинга в параметры провайдера.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="dataset"/>
            <xs:enumeration value="spel"/>
            <xs:enumeration value="javascript"/>
            <xs:enumeration value="groovy"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="operationValidationListDefinition">
        <xs:complexContent>
            <xs:extension base="validationsDefinition">
                <xs:attribute name="white-list" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>Список валидаций, которые будут вызваны перед или после выполнения операции
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="black-list" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>Список валидаций, которые не будут вызваны перед или после выполнения
                            операции
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="operationDefinition">
        <xs:sequence>
            <xs:element name="invocation" type="operationInvocationDefinition"/>
            <xs:element name="in-parameters" type="operationParameterListDefinition" minOccurs="0" maxOccurs="1"/>
            <xs:element name="out-parameters" type="operationParameterListDefinition" minOccurs="0" maxOccurs="1"/>
            <xs:element name="validations" type="operationValidationListDefinition" maxOccurs="1" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="description" type="xs:string">
            <xs:annotation>
                <xs:documentation>Описание операции</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="success-text" type="xs:string">
            <xs:annotation>
                <xs:documentation>Текст в случае успеха</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="fail-text" type="xs:string">
            <xs:annotation>
                <xs:documentation>Текст в случае непредвиденной ошибки</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="confirm" type="xs:boolean">
            <xs:annotation>
                <xs:documentation>Требуется ли подтверждение</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="confirm-text" type="xs:string">
            <xs:annotation>
                <xs:documentation>Текст подтверждения действия</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="id" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>Идентификатор операции</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="name" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>Наименование операции</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="submit-label" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>Наименование кнопки отправки операции</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <!--общая составляющая всех способов реализаций действия-->
    <xs:complexType name="operationInvocationDefinition" abstract="true">
        <xs:sequence>
            <xs:element name="sql" type="dp:sqlDefinition" minOccurs="0"/>
            <xs:element name="rest" type="dp:restDefinition" minOccurs="0"/>
            <xs:element name="java" type="dp:javaDefinition" minOccurs="0"/>
            <xs:element name="test" type="dp:testDefinition" minOccurs="0"/>
            <xs:element name="mongodb" type="dp:mongoDbDefinition" minOccurs="0"/>
            <xs:element name="camunda" type="dp:camundaDefinition" minOccurs="0"/>
            <xs:element name="graphql" type="dp:graphqlDefinition" minOccurs="0"/>
            <xs:any namespace="##other" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Провайдер данных.</xs:documentation>
                </xs:annotation>
            </xs:any>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="operationParameterListDefinition">
        <xs:sequence>
            <xs:element name="param" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                    <xs:attribute name="id" type="xs:string" use="required">
                        <xs:annotation>
                            <xs:documentation>Идентификатор</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="default-value" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>Значение по умолчанию</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="domain" type="dmn:domainType" use="optional">
                        <xs:annotation>
                            <xs:documentation>Тип данных</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="normalize" type="xs:string" use="optional">
                        <xs:annotation>
                            <xs:documentation>SpEL выражение, применяемое к значению перед маппингом</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="mapper" type="mapperDefinition" use="optional">
                        <xs:annotation>
                            <xs:documentation>Способ маппинга в параметры провайдера</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="mapping" type="xs:string" use="optional">
                        <xs:annotation>
                            <xs:documentation>Маппинг значения в сущность или провайдер данных</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="required" type="xs:boolean" use="optional">
                        <xs:annotation>
                            <xs:documentation>Обязательность поля</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="mapping-condition" type="xs:string" use="optional">
                        <xs:annotation>
                            <xs:documentation>Условие, при котором должен быть выполнен маппинг</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="entity-class" type="xs:string" use="optional">
                        <xs:annotation>
                            <xs:documentation>Класс, которому соответствует параметр</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="validationsDefinition">
        <xs:sequence>
            <xs:element name="condition" type="conditionDefinition" minOccurs="0"/>
            <xs:element name="constraint" type="constraintDefinition" minOccurs="0"/>
            <xs:element name="mandatory" type="requiredDefinition" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="conditionDefinition">
        <xs:complexContent>
            <xs:extension base="validationDefinition">
                <xs:attribute name="on" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>Поля от которых зависит условие валидации</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="src" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>Путь к js файлу, который содержит условие валидации. Если не задан, необходимо
                            задать условие в теле.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="constraintDefinition">
        <xs:complexContent>
            <xs:extension base="validationDefinition">
                <xs:sequence>
                    <xs:element name="invocation" type="operationInvocationDefinition" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="in-parameters" type="operationParameterListDefinition" minOccurs="1"
                                maxOccurs="1"/>
                    <xs:element name="out-parameters" type="operationParameterListDefinition" minOccurs="0"
                                maxOccurs="1"/>
                </xs:sequence>
                <xs:attribute name="result" type="xs:string"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="requiredDefinition">
        <xs:complexContent>
            <xs:extension base="validationDefinition">
                <xs:attribute name="on" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>Поля от которых зависит условие валидации</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="src" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>Путь к js файлу, который содержит условие валидации. Если не задан, необходимо
                            задать условие в теле.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="validationDefinition">
        <xs:attribute name="id" use="required">
            <xs:annotation>
                <xs:documentation>Идентификатор валидации</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="severity" type="severityDefinition" use="required">
            <xs:annotation>
                <xs:documentation>Уровень важности валидации</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="server-moment" type="serverMomentDefinition" use="optional">
            <xs:annotation>
                <xs:documentation>Момент срабатывания валидации на сервере</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="field-id" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>Поле, под которым отобразится сообщение</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="message" type="xs:string">
            <xs:annotation>
                <xs:documentation>Сообщение, в случае нарушения валидации. Может содержать параметры.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="enabled" type="xs:boolean" default="true">
            <xs:annotation>
                <xs:documentation>Включение валидации</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="side" type="validationSideDefinition">
            <xs:annotation>
                <xs:documentation>Выполение на клиенте и (или) сервере</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:simpleType name="validationSideDefinition">
        <xs:restriction>
            <xs:enumeration value="client"/>
            <xs:enumeration value="server"/>
            <xs:enumeration value="client,server"/>
        </xs:restriction>
    </xs:simpleType>


    <xs:simpleType name="severityDefinition">
        <xs:restriction>
            <xs:enumeration value="danger"/>
            <xs:enumeration value="warning"/>
            <xs:enumeration value="info"/>
            <xs:enumeration value="success"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="serverMomentDefinition">
        <xs:restriction>
            <xs:enumeration value="before-operation"/>
            <xs:enumeration value="before-query"/>
            <xs:enumeration value="after-success-query"/>
            <xs:enumeration value="after-fail-query"/>
            <xs:enumeration value="after-fail-operation"/>
            <xs:enumeration value="after-success-operation"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>