backend/n2o/n2o-api/src/main/resources/net/n2oapp/framework/config/schema/page-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:prop="http://n2oapp.net/framework/config/schema/base/properties-base-1.0"
           xmlns:query_3.0="http://n2oapp.net/framework/config/schema/query-3.0"
           targetNamespace="http://n2oapp.net/framework/config/schema/page-1.0">

    <xs:element name="page" type="pageDefinition"/>

    <!--определение макета-->
    <xs:complexType name="pageDefinition">
        <xs:sequence>
            <!--идентификатор объекта, на основе которого построен макет-->
            <xs:element name="object-id" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <!--локализованное наименование макета-->
            <!--по умолчанию равно значению элемента name объекта, на основе которого построен макет-->
            <xs:element name="name" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="layout" type="layoutType" maxOccurs="1" minOccurs="1"/>

            <xs:element name="containers" type="pageContainerListDefinition" maxOccurs="1" minOccurs="0"/>
            <xs:element name="regions" maxOccurs="1" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="region" type="regionDefinition" maxOccurs="unbounded" minOccurs="1"/>
                    </xs:sequence>
                    <xs:attribute name="result-container" type="xs:string" use="optional"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="properties" type="prop:propertyListDefinition" maxOccurs="1" minOccurs="0"/>
            <xs:element name="modal-width" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="modal-min-width" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="modal-max-width" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="navigation" type="xs:boolean" maxOccurs="1" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="regionDefinition">
        <xs:annotation>
            <xs:documentation source="https://wiki.i-novus.ru/display/N2O/N2O.Documentation.Model.Container"/>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="properties" maxOccurs="1" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="property" type="prop:propertyDefinition" maxOccurs="unbounded"
                                    minOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="container" type="pageContainerDefinition" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="place" type="xs:string" use="required"/>
        <xs:attribute name="width" type="xs:string" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="type" type="regionType" use="optional"/>
        <xs:attribute name="src" type="xs:string" use="optional"/>
    </xs:complexType>

    <!--список панелей макета-->
    <xs:complexType name="pageContainerListDefinition">
        <xs:sequence>
            <xs:element name="container" type="pageContainerDefinition" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>
        <!--идентификатор панели макета-->
        <!--выбранное значение компонента в результирующей панели является выбранным значением макета-->
        <!--контекст на основе, которого открыт макет, является выбранным значением компонента результирующей панели-->
        <xs:attribute name="result-container" type="xs:string" use="optional"/>
    </xs:complexType>

    <!--определение панели макета-->
    <xs:complexType name="pageContainerDefinition">
        <xs:annotation>
            <xs:documentation source="https://wiki.i-novus.ru/display/N2O/N2O.Documentation.Model.Container"/>
        </xs:annotation>
        <xs:sequence>
            <xs:any namespace="##other" processContents="strict"/>
            <!--<xs:element name="form" type="wdj:formReferenceDefinition" maxOccurs="1" minOccurs="0"/>-->
            <!--<xs:element name="table" type="wdj:tableReferenceDefinition" maxOccurs="1" minOccurs="0"/>-->
            <!--<xs:element name="tree" type="wdj:treeReferenceDefinition" maxOccurs="1" minOccurs="0"/>-->
            <xs:element name="pre-filters" maxOccurs="1" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="pre-filter" type="controlPreFilterDefinition"
                                    maxOccurs="unbounded" minOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="counter" type="counterDefinition" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <!--строковый идентификатор панели макета (перечень возможных идентификаторов заранее определен видом макета)-->
        <xs:attribute name="id" type="xs:string" use="required"/>
        <!--идентификатор панели макета, от которой зависит текущая панель-->
        <!--первыми загружают данные независимые панели, передают выбранные значения компонентов в зависимые панели-->
        <xs:attribute name="depends-on" type="xs:string" use="optional"/>
        <xs:attribute name="dependency-condition" type="xs:string" use="optional"/>
        <!--размер панели (высота или ширина, зависит от вида макета)-->
        <xs:attribute name="size" type="xs:integer" use="optional"/>
        <!--место расположения панели в макете-->
        <xs:attribute name="place" type="xs:string" use="optional"/>
        <xs:attribute name="opened" type="xs:boolean" use="optional"/>
        <xs:attribute name="icon" type="xs:string" use="optional"/>
        <xs:attribute name="refresh-dependent-container" type="xs:boolean" use="optional"/>
        <!-- пока убран refresh-policy-->
        <!--<xs:attribute name="refresh-policy" use="optional">-->
            <!--<xs:simpleType>-->
                <!--<xs:restriction>-->
                    <!--<xs:enumeration value="selected"/>-->
                    <!--<xs:enumeration value="all"/>-->
                    <!--<xs:enumeration value="nothing"/>-->
                <!--</xs:restriction>-->
            <!--</xs:simpleType>-->
        <!--</xs:attribute>-->
    </xs:complexType>

    <xs:complexType name="controlPreFilterDefinition">
        <xs:annotation>
            <xs:documentation source="https://wiki.i-novus.ru/display/N2O/N2O.Documentation.Dependency"/>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="value" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="field-id" type="xs:string" use="required"/>
        <xs:attribute name="ref" type="xs:string" use="optional"/>
        <xs:attribute name="value" type="xs:string" use="optional"/>
        <xs:attribute name="type" type="query_3.0:searchTypeEnumeration" use="optional"/>
    </xs:complexType>

    <xs:complexType name="counterDefinition">
        <xs:annotation>
            <xs:documentation
                    source="https://wiki.i-novus.ru/display/N2O/N2O.Documentation.Model.Container#N2O.Documentation.Model.Container-counters"/>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="pre-filters" maxOccurs="1" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <!--<xs:element name="pre-filter" type="controlPreFilterDefinition"-->
                        <!--maxOccurs="unbounded" minOccurs="1"/>-->
                        <xs:element name="pre-filter" maxOccurs="unbounded" minOccurs="1">
                            <xs:complexType>
                                <xs:attribute name="field-id" type="xs:string" use="required"/>
                                <xs:attribute name="value" type="xs:string" use="required"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <!--<xs:attribute name="query-id" type="xs:string" use="required"/>-->
    </xs:complexType>

    <!--<xs:complexType name="containerActionMenuDefinition">-->
    <!--<xs:annotation>-->
    <!--<xs:documentation source="https://wiki.i-novus.ru/display/N2O/N2O.Documentation.Model.Container#N2O.Documentation.Model.Container-menu"/>-->
    <!--</xs:annotation>-->
    <!--<xs:sequence>-->
    <!--<xs:element name="menu-item" maxOccurs="unbounded" minOccurs="1">-->
    <!--<xs:complexType>-->
    <!--<xs:complexContent>-->
    <!--<xs:extension base="ctr:controlDefinition">-->
    <!--&lt;!&ndash;возможно только одно из возможных действий&ndash;&gt;-->
    <!--<xs:sequence>-->
    <!--<xs:element name="show-modal" type="wgt:showModalOpenPageDefinition" maxOccurs="1" minOccurs="0"/>-->
    <!--<xs:element name="show-modal-form" type="wgt:showModalFormDefinition" maxOccurs="1" minOccurs="0"/>-->
    <!--<xs:element name="open-page" type="wgt:showModalOpenPageDefinition" maxOccurs="1" minOccurs="0"/>-->
    <!--<xs:element name="a" type="ctr:anchorDef" maxOccurs="1" minOccurs="0"/>-->
    <!--</xs:sequence>-->
    <!--<xs:attribute name="icon" type="xs:string" use="required"/>-->
    <!--&lt;!&ndash;<xs:attribute name="key" type="xs:string" use="optional"/>&ndash;&gt;-->
    <!--</xs:extension>-->
    <!--</xs:complexContent>-->
    <!--</xs:complexType>-->
    <!--</xs:element>-->
    <!--</xs:sequence>-->
    <!--</xs:complexType>-->

    <!--вид макета-->
    <xs:simpleType name="layoutType">
        <xs:union memberTypes="xs:string">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="n2o/layout/single"/>
                    <xs:enumeration value="n2o/layout/left-right"/>
                    <xs:enumeration value="n2o/layout/left-center-right"/>
                    <xs:enumeration value="n2o/layout/top-bottom"/>
                    <xs:enumeration value="n2o/layout/left-right(top-bottom)"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>

    <xs:simpleType name="regionType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="tabs"/>
            <xs:enumeration value="pills"/>
            <xs:enumeration value="list"/>
            <xs:enumeration value="select"/>
            <xs:enumeration value="panel"/>
            <xs:enumeration value="none"/>
        </xs:restriction>
    </xs:simpleType>


</xs:schema>