backend/n2o/n2o-api/src/main/resources/net/n2oapp/framework/config/schema/page-2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:wgt="http://n2oapp.net/framework/config/schema/n2o-widget-4.0"
           xmlns:btn="http://n2oapp.net/framework/config/schema/button-1.0"
           xmlns:ac="http://n2oapp.net/framework/config/schema/action-1.0"
           xmlns:reg="http://n2oapp.net/framework/config/schema/region-1.0"
           targetNamespace="http://n2oapp.net/framework/config/schema/page-2.0">

    <xs:element name="page" type="standardPageDefinition"/>
    <xs:element name="simple-page" type="simplePageDefinition"/>
    <xs:element name="left-right-page" type="leftRightPageDefinition"/>
    <xs:element name="searchable-page" type="searchablePageDefinition"/>

    <xs:complexType name="pageDefinition" abstract="true">
        <xs:annotation>
            <xs:documentation>Страница page-2.0</xs:documentation>
        </xs:annotation>
        <xs:attribute name="name" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>Наименование страницы.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="route" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>URL страницы.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="modal-size" type="ac:modalSize" use="optional">
            <xs:annotation>
                <xs:documentation>Размер модального окна, если страница открыта в модальном окне.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="leftRightPageDefinition">
        <xs:annotation>
            <xs:documentation>Страница c двумя регионами page-2.0</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="actions" type="actionsDefinition" maxOccurs="1" minOccurs="0"/>
            <xs:element name="left" type="leftRightRegionsDefinition" maxOccurs="1" minOccurs="0"/>
            <xs:element name="right" type="leftRightRegionsDefinition" maxOccurs="1" minOccurs="0"/>
            <xs:element name="toolbar" type="pageToolbarDefinition" maxOccurs="1" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>Наименование страницы.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="src" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>Реализация страницы</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="route" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>URL страницы.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="modal-size" type="ac:modalSize" use="optional">
            <xs:annotation>
                <xs:documentation>Размер модального окна, если страница открыта в модальном окне.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="object-id" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>Объект выборки.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:anyAttribute>
            <xs:annotation>
                <xs:documentation>Возможность подключать любые атрибуты.</xs:documentation>
            </xs:annotation>
        </xs:anyAttribute>
    </xs:complexType>

    <xs:complexType name="leftRightRegionsDefinition">
        <xs:complexContent>
            <xs:extension base="regionsDefinition">
                <xs:annotation>
                    <xs:documentation>Регионы для left-right-page</xs:documentation>
                </xs:annotation>
                <xs:attribute name="width" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>Ширина региона</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="standardPageDefinition">
        <xs:annotation>
            <xs:documentation>Страница с регионами page-2.0</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="regions" type="regionsDefinition" maxOccurs="1" minOccurs="0"/>
            <xs:element name="actions" type="actionsDefinition" maxOccurs="1" minOccurs="0"/>
            <xs:element name="toolbar" type="pageToolbarDefinition" maxOccurs="1" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>Наименование страницы.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="src" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>Реализация страницы</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="route" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>URL страницы.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="modal-size" type="ac:modalSize" use="optional">
            <xs:annotation>
                <xs:documentation>Размер модального окна, если страница открыта в модальном окне.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="object-id" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>Объект выборки.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:anyAttribute>
            <xs:annotation>
                <xs:documentation>Возможность подключать любые атрибуты.</xs:documentation>
            </xs:annotation>
        </xs:anyAttribute>
    </xs:complexType>

    <xs:complexType name="simplePageDefinition">
        <xs:complexContent>
            <xs:extension base="wgt:widgets">
                <xs:annotation>
                    <xs:documentation>Страница с единственным виджетом page-2.0</xs:documentation>
                </xs:annotation>
                <xs:attribute name="src" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>Реализация страницы</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="name" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>Наименование страницы.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="route" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>URL страницы.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="modal-size" type="ac:modalSize" use="optional">
                    <xs:annotation>
                        <xs:documentation>Размер модального окна, если страница открыта в модальном окне.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:anyAttribute>
                    <xs:annotation>
                        <xs:documentation>Возможность подключать любые атрибуты.</xs:documentation>
                    </xs:annotation>
                </xs:anyAttribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="searchablePageDefinition">
        <xs:complexContent>
            <xs:extension base="standardPageDefinition">
            <xs:annotation>
                <xs:documentation>Страница c поисковой строкой</xs:documentation>
            </xs:annotation>
                <xs:sequence>
                    <xs:element name="search-bar" type="searchBarDefinition" maxOccurs="1" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="searchBarDefinition">
        <xs:annotation>
            <xs:documentation>Поисковая строка</xs:documentation>
        </xs:annotation>
        <xs:attribute name="class" type="xs:string">
            <xs:annotation>
                <xs:documentation>CSS класс стилей.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="placeholder" type="xs:string">
            <xs:annotation>
                <xs:documentation>Подсказка для ввода.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="button-icon" type="xs:string">
            <xs:annotation>
                <xs:documentation>Иконка кнопки.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="search-widget-id" type="xs:string">
            <xs:annotation>
                <xs:documentation>Идентификатор виджета для которого производится поиск.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="search-filter-id" type="xs:string">
            <xs:annotation>
                <xs:documentation>Идентификатор фильтра.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="search-param" type="xs:string">
            <xs:annotation>
                <xs:documentation>Параметр поиска.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="regionsDefinition">
        <xs:annotation>
            <xs:documentation>Регион страницы</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:any namespace="##other" processContents="strict"/>
            <xs:element name="region" type="reg:regionDefinition" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element name="tabs" type="reg:tabsDefinition" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element name="line" type="reg:lineDefinition" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element name="panel" type="reg:panelDefinition" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <xs:anyAttribute>
            <xs:annotation>
                <xs:documentation>Возможность подключать любые атрибуты.</xs:documentation>
            </xs:annotation>
        </xs:anyAttribute>
    </xs:complexType>

    <xs:complexType name="actionsDefinition">
        <xs:annotation>
            <xs:documentation>Список действий над объектом</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="action" type="actionDefinition" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="generate" type="generateType" use="optional">
            <xs:annotation>
                <xs:documentation>Генерация стандартных действий</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>


    <xs:complexType name="actionDefinition">
        <xs:annotation>
            <xs:documentation>Действие над страницей.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ac:actions">
                <xs:attribute name="id" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>Идентификатор действия.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="name" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>Наименование.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="route" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>URL действия.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="icon" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>Иконка действия.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="hotkey" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>Горячая клавиша вызова.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="visible" type="xs:boolean" use="optional">
                    <xs:annotation>
                        <xs:documentation>Видимость действия.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="enabled" type="xs:boolean" use="optional">
                    <xs:annotation>
                        <xs:documentation>Доступность действия.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="model" type="clientModel">
                    <xs:annotation>
                        <xs:documentation>Модель, над которой выполнится действие. Если модель пустая, то действие будет
                            заблокировано.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="widget-id" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>Идентификатор виджета над которым будет выполнена операция. По умолчанию
                            главный
                            виджет страницы(если он один).
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="pageToolbarDefinition">
        <xs:annotation>
            <xs:documentation>Меню управляющих кнопок страницы.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="button" type="btn:buttonDefinition" minOccurs="0"/>
            <xs:element name="sub-menu" type="btn:subMenuDefinition" minOccurs="0"/>
            <xs:element name="group" type="pageGroupDefinition" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="place" type="placeType" use="optional">
            <xs:annotation>
                <xs:documentation>Место расположения меню.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="generate" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>Генерация стандартных кнопок.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>


    <xs:complexType name="pageGroupDefinition">
        <xs:annotation>
            <xs:documentation>Группа кнопок.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="button" type="btn:buttonDefinition" minOccurs="0"/>
            <xs:element name="sub-menu" type="btn:subMenuDefinition" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="generate" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>Генерация стандартных кнопок.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>


    <xs:simpleType name="generateType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="crud"/>
            <xs:enumeration value="saveAndClose"/>
            <xs:enumeration value="close"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="placeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="topLeft"/>
            <xs:enumeration value="topRight"/>
            <xs:enumeration value="bottomLeft"/>
            <xs:enumeration value="bottomRight"/>
            <xs:enumeration value="breadcrumbLeft"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="typeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="text"/>
            <xs:enumeration value="icon"/>
            <xs:enumeration value="textAndIcon"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="clientModel">
        <xs:annotation>
            <xs:documentation>Модель, над которой выполняется действие на клиенте.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="filter"/>
            <xs:enumeration value="resolve"/>
            <xs:enumeration value="edit"/>
            <xs:enumeration value="selected"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>