backend/n2o/n2o-api/src/main/resources/net/n2oapp/framework/config/schema/region-3.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:wgt="http://n2oapp.net/framework/config/schema/widget-5.0"
           xmlns:bs="http://n2oapp.net/framework/config/schema/base-1.0"
           xmlns:act="http://n2oapp.net/framework/config/schema/action-2.0"
           xmlns:ds="http://n2oapp.net/framework/config/schema/datasource-1.0"
           xmlns:page="http://n2oapp.net/framework/config/schema/page-4.0"
           xmlns:menu="http://n2oapp.net/framework/config/schema/menu-3.0"
           xmlns:bt="http://n2oapp.net/framework/config/schema/button-2.0"
           targetNamespace="http://n2oapp.net/framework/config/schema/region-3.0">

    <xs:element name="region" type="simpleRegionDefinition"/>
    <xs:element name="line" type="lineDefinition"/>
    <xs:element name="panel" type="panelDefinition"/>
    <xs:element name="tabs" type="tabsDefinition"/>
    <xs:element name="scrollspy" type="scrollspyDefinition"/>
    <xs:element name="sub-page" type="subPageDefinition"/>
    <xs:element name="nav" type="navRegionDefinition"/>
    <xs:element name="row" type="rowDefinition"/>
    <xs:element name="flex-row" type="flexRowDefinition"/>

    <xs:complexType name="regionsAndWidgets" abstract="true">
        <xs:sequence>
            <xs:any namespace="##other"/>
            <xs:element name="region" type="simpleRegionDefinition" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element name="line" type="lineDefinition" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element name="panel" type="panelDefinition" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element name="tabs" type="tabsDefinition" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element name="scrollspy" type="scrollspyDefinition" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element name="sub-page" type="subPageDefinition" minOccurs="0"/>
            <xs:element name="nav" type="navRegionDefinition" minOccurs="0"/>

            <xs:element name="table" type="wgt:tableReferenceDefinition" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element name="form" type="wgt:formReferenceDefinition" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element name="multi-form" type="wgt:multiFormReferenceDefinition" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element name="tree" type="wgt:treeReferenceDefinition" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element name="list" type="wgt:listWidgetReferenceDefinition" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element name="chart" type="wgt:chartReferenceDefinition" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element name="calendar" type="wgt:calendarReferenceDefinition" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element name="widget" type="wgt:customReferenceDefinition" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element name="html" type="wgt:htmlReferenceDefinition" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element name="cards" type="wgt:cardsReferenceDefinition" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element name="tiles" type="wgt:tilesReferenceDefinition" maxOccurs="unbounded" minOccurs="0"/>

            <xs:element name="row" type="rowDefinition" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element name="flex-row" type="flexRowDefinition" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="regionDefinition">
        <xs:annotation>
            <xs:documentation>
                Регион
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="regionsAndWidgets">
                <xs:attribute name="id" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>
                            Идентификатор региона
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="src" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>
                            React компонент региона
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="class" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>
                            CSS класс региона
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="style" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>
                            СSS стиль региона
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:anyAttribute>
                    <xs:annotation>
                        <xs:documentation>
                            Возможность подключать любые атрибуты
                        </xs:documentation>
                    </xs:annotation>
                </xs:anyAttribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="simpleRegionDefinition">
        <xs:annotation>
            <xs:documentation>
                Простой регион
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="regionDefinition"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="lineDefinition">
        <xs:complexContent>
            <xs:extension base="regionDefinition">
                <xs:annotation>
                    <xs:documentation>
                        Регион с горизонтальным делителем
                    </xs:documentation>
                </xs:annotation>
                <xs:attribute name="label">
                    <xs:annotation>
                        <xs:documentation>
                            Заголовок региона
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="collapsible" type="xs:boolean" default="true">
                    <xs:annotation>
                        <xs:documentation>
                            Возможность раскрытия и сворачивания региона
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="has-separator" type="xs:boolean" default="true">
                    <xs:annotation>
                        <xs:documentation>
                            Отображение горизонтального делителя
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="expand" type="xs:boolean" default="true">
                    <xs:annotation>
                        <xs:documentation>
                            Исходное раскрытие региона
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="navRegionDefinition">
        <xs:annotation>
            <xs:documentation>
                Регион с меню
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="menu-item" type="menu:menuItemDef" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="dropdown-menu" type="dropdownMenuDef" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="button" type="buttonMenuItemDef" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="divider" type="dividerMenuItemDef" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="link" type="linkMenuItemDef" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="group" type="groupMenuItemDef" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    Идентификатор региона
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="src" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    React компонент региона
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="class" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    CSS класс региона
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="style" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    СSS стиль региона
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="direction" type="bs:directionType" default="row">
            <xs:annotation>
                <xs:documentation>
                    Направление отображения элементов
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="datasource" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    Идентификатор источника данных
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="model" type="act:clientModel" default="resolve">
            <xs:annotation>
                <xs:documentation>
                    Модель данных
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:anyAttribute>
            <xs:annotation>
                <xs:documentation>
                    Возможность подключать любые атрибуты
                </xs:documentation>
            </xs:annotation>
        </xs:anyAttribute>
    </xs:complexType>

    <xs:complexType name="panelDefinition">
        <xs:complexContent>
            <xs:extension base="regionDefinition">
                <xs:annotation>
                    <xs:documentation>
                        Регион в виде панели
                    </xs:documentation>
                </xs:annotation>
                <xs:attribute name="header" type="xs:boolean" default="true">
                    <xs:annotation>
                        <xs:documentation>
                            Наличие заголовка
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="title" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>
                            Заголовок панели
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="footer-title" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>
                            Заголовок для подвала региона
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="collapsible" type="xs:boolean" default="true">
                    <xs:annotation>
                        <xs:documentation>
                            Возможность раскрытия и сворачивания региона
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="open" type="xs:boolean" default="true">
                    <xs:annotation>
                        <xs:documentation>
                            Исходное раскрытие панели
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="icon" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>
                            Класс иконки из https://fontawesome.com/v6/icons/
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="color" type="bs:colorDefinition">
                    <xs:annotation>
                        <xs:documentation>
                            Цвет панели
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="routable" type="xs:boolean" default="true">
                    <xs:annotation>
                        <xs:documentation>
                            Восстановление активных панелей по URL
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="active-param" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>
                            Имя параметра активной панели в URL.
                            По умолчанию: значение `id`
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="tabsDefinition">
        <xs:annotation>
            <xs:documentation>
                Регион в виде вкладок
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="tab" type="tabDefinition" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    Идентификатор региона
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="src" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    React компонент региона
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="class" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    CSS класс региона
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="style" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    СSS стиль региона
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="always-refresh" type="xs:boolean" default="false">
            <xs:annotation>
                <xs:documentation>
                    Обновление данных при переключении между вкладками
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="lazy" type="xs:boolean" default="true">
            <xs:annotation>
                <xs:documentation>
                    Ленивая загрузка вкладок
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="hide-single-tab" type="xs:boolean" default="false">
            <xs:annotation>
                <xs:documentation>
                    Скрытие единственной доступной вкладки и отображение только ее содержимого
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="max-height" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    Максимальная высота содержимого вкладок.
                    Доступные единицы измерения: `px`, `em`, `rem`. При указании числа оно будет приведено к `px`
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="scrollbar" type="xs:boolean" default="false">
            <xs:annotation>
                <xs:documentation>
                    Отображение полосы прокрутки
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="datasource" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    Идентификатор источника данных, из которого будет взято значение для `active-tab-field-id`
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="active-tab-field-id" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    Идентификатор поля, значение которого задает id активной вкладки
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="routable" type="xs:boolean" default="true">
            <xs:annotation>
                <xs:documentation>
                    Восстановление активных вкладок по URL
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="active-param" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    Имя параметра активной вкладки в URL.
                    По умолчанию: значение `id`
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:anyAttribute>
            <xs:annotation>
                <xs:documentation>
                    Возможность подключать любые атрибуты
                </xs:documentation>
            </xs:annotation>
        </xs:anyAttribute>
    </xs:complexType>

    <xs:complexType name="tabDefinition">
        <xs:complexContent>
            <xs:extension base="regionsAndWidgets">
                <xs:annotation>
                    <xs:documentation>
                        Вкладка
                    </xs:documentation>
                </xs:annotation>
                <xs:attribute name="id">
                    <xs:annotation>
                        <xs:documentation>
                            Идентификатор вкладки
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="name">
                    <xs:annotation>
                        <xs:documentation>
                            Наименование вкладки
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="datasource">
                    <xs:annotation>
                        <xs:documentation>
                            Идентификатор источника данных.
                            По умолчанию: идентификатор источника данных региона
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="visible" default="true">
                    <xs:annotation>
                        <xs:documentation>
                            Условие видимости. Возможно использование плейсхолдеров
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="enabled" default="true">
                    <xs:annotation>
                        <xs:documentation>
                            Условие доступности. Возможно использование плейсхолдеров
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:anyAttribute>
                    <xs:annotation>
                        <xs:documentation>
                            Возможность подключать любые атрибуты
                        </xs:documentation>
                    </xs:annotation>
                </xs:anyAttribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="scrollspyDefinition">
        <xs:annotation>
            <xs:documentation>
                Регион с отслеживанием прокрутки
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="menu-item" type="menuItemDefinition" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="sub-menu" type="subMenuDefinition" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="group" type="groupDefinition" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    Идентификатор региона
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="src" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    React компонент региона
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="class" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    CSS класс региона
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="style" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    СSS стиль региона
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="active" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    Активный элемент по умолчанию
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="placement" type="scrollspyPlacement" default="left">
            <xs:annotation>
                <xs:documentation>
                    Сторона расположения меню
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="title" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    Заголовок меню
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="headlines" type="xs:boolean" default="false">
            <xs:annotation>
                <xs:documentation>
                    Наличие разделительной строки между блоками
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="routable" type="xs:boolean" default="true">
            <xs:annotation>
                <xs:documentation>
                    Восстановление активных элементов по URL
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="active-param" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    Имя параметра активного элемента меню в URL.
                    По умолчанию: значение `id`
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="max-height" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    Максимальная высота содержимого региона.
                    Доступные единицы измерения: `px`. При указании числа оно будет приведено к `px`
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:anyAttribute>
            <xs:annotation>
                <xs:documentation>
                    Возможность подключать любые атрибуты
                </xs:documentation>
            </xs:annotation>
        </xs:anyAttribute>
    </xs:complexType>

    <xs:simpleType name="scrollspyPlacement">
        <xs:restriction>
            <xs:annotation>
                <xs:documentation>
                    Сторона расположения меню
                </xs:documentation>
            </xs:annotation>
            <xs:enumeration value="left"/>
            <xs:enumeration value="right"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="menuItemDefinition">
        <xs:annotation>
            <xs:documentation>
                Элемент меню
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="regionsAndWidgets">
                <xs:attribute name="id" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>
                            Идентификатор элемента меню
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="title" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>
                            Заголовок элемента меню
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="subMenuDefinition">
        <xs:annotation>
            <xs:documentation>
                Вложенное меню
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="menu-item" type="menuItemDefinition" maxOccurs="unbounded"/>
            <xs:element name="sub-menu" type="subMenuDefinition" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    Идентификатор вложенного меню
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="title" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    Заголовок вложенного меню
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="groupDefinition">
        <xs:annotation>
            <xs:documentation>
                Группа меню
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="menu-item" type="menuItemDefinition" maxOccurs="unbounded"/>
            <xs:element name="sub-menu" type="subMenuDefinition" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    Идентификатор группы
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="title" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    Заголовок группы
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="headline" type="xs:boolean" default="false">
            <xs:annotation>
                <xs:documentation>
                    Наличие разделительной строки
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="subPageDefinition">
        <xs:annotation>
            <xs:documentation>
                Регион, обновляемый при частичной перезагрузке.
                Подгружает одну из подстраниц в зависимости от текущего URL
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="regionDefinition">
                <xs:sequence>
                    <xs:element name="page" type="subPagePageDefinition" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation>
                                Подстраница
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
                <xs:attribute name="default-page-id" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>
                            Идентификатор открываемой страницы по умолчанию.
                            По умолчанию: идентификатор первой подстраницы
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="subPagePageDefinition">
        <xs:annotation>
            <xs:documentation>
                Подстраница
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="datasources" type="ds:datasources" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Переопределение источников данных в открываемой подстранице
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="breadcrumbs" type="page:breadcrumbsDefinition" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Переопределение хлебных крошек в открываемой подстранице
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="toolbars" type="act:toolbarsDefinition" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Переопределение меню управляющих кнопок в открываемой подстранице
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="actions" type="act:pageActionsDefinition" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Переопределение действий в открываемой подстранице
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="page-id" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    Идентификатор открываемой подстраницы
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="route" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    URL, по которому будет открыта подстраница
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="rowDefinition">
        <xs:annotation>
            <xs:documentation>
                Регион Строка с сеточной вёрсткой
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="regionDefinition">
                <xs:sequence>
                    <xs:element name="col" type="colDefinition" maxOccurs="unbounded"/>
                </xs:sequence>
                <xs:attribute name="columns" type="xs:integer" default="12">
                    <xs:annotation>
                        <xs:documentation>
                            Количество колонок, на которое разбивается строка
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="wrap" type="xs:boolean" default="true">
                    <xs:annotation>
                        <xs:documentation>
                            Перенос не влезающих по размеру колонок на следующую строку
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="align" type="alignType" default="top">
                    <xs:annotation>
                        <xs:documentation>
                            Вертикальное выравнивание
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="justify" type="justifyType" default="start">
                    <xs:annotation>
                        <xs:documentation>
                            Горизонтальное выравнивание
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="colDefinition">
        <xs:annotation>
            <xs:documentation>
                Колонка в строке
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="regionDefinition">
                <xs:attribute name="size" type="xs:integer" default="1">
                    <xs:annotation>
                        <xs:documentation>
                            Занимаемое количество колонок
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="offset" type="xs:integer" default="0">
                    <xs:annotation>
                        <xs:documentation>
                            Отступ слева (в колонках)
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="flexRowDefinition">
        <xs:annotation>
            <xs:documentation>
                Регион Строка без сеточной вёрстки
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="regionDefinition">
                <xs:attribute name="wrap" type="xs:boolean" default="true">
                    <xs:annotation>
                        <xs:documentation>
                            Перенос не влезающих элементов на следующую строку
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="align" type="alignType" default="top">
                    <xs:annotation>
                        <xs:documentation>
                            Вертикальное выравнивание
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="justify" type="justifyType" default="start">
                    <xs:annotation>
                        <xs:documentation>
                            Горизонтальное выравнивание
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:simpleType name="alignType">
        <xs:annotation>
            <xs:documentation>
                Вертикальное выравнивание
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="top"/>
            <xs:enumeration value="middle"/>
            <xs:enumeration value="bottom"/>
            <xs:enumeration value="stretch"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="justifyType">
        <xs:annotation>
            <xs:documentation>
                Горизонтальное выравнивание
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="start"/>
            <xs:enumeration value="end"/>
            <xs:enumeration value="center"/>
            <xs:enumeration value="space-around"/>
            <xs:enumeration value="space-between"/>
            <xs:enumeration value="space-evenly"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="dropdownMenuDef">
        <xs:annotation>
            <xs:documentation>
                Выпадающее меню
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="menu:dropdownMenuDef">
                <xs:sequence>
                    <xs:element name="button" type="buttonMenuItemDef" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="divider" type="dividerMenuItemDef" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="link" type="linkMenuItemDef" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="group" type="groupMenuItemDef" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="buttonMenuItemDef">
        <xs:annotation>
            <xs:documentation>
                Кнопка
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="act:actions">
                <xs:attribute name="id" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>
                            Идентификатор элемента меню
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="label" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>
                            Заголовок элемента меню.
                            Возможно использование плейсхолдеров
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="datasource" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>
                            Идентификатор источника данных, из которого будет взято значение для плейсхолдеров.
                            По умолчанию: идентификатор источника данных родительского компонента
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="model" type="act:clientModel">
                    <xs:annotation>
                        <xs:documentation>
                            Модель, из которой будет взято значение для плейсхолдеров.
                            По умолчанию: модель родительского компонента
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="icon" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>
                            Иконка элемента меню из https://fontawesome.com/v6/icons/
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="icon-position" type="menu:positionType" default="left">
                    <xs:annotation>
                        <xs:documentation>
                            Позиция иконки относительно заголовка элемента меню
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="image" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>
                            Ссылка на картинку.
                            Возможно использование плейсхолдеров
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="image-shape" type="menu:shapeType" default="square">
                    <xs:annotation>
                        <xs:documentation>
                            Форма картинки
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="badge" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>
                            Значок элемента меню.
                            Возможно использование плейсхолдеров
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="badge-color" type="bs:colorDefinition">
                    <xs:annotation>
                        <xs:documentation>
                            Цвет значка.
                            Возможно использование плейсхолдеров
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="badge-position" type="menu:positionType" default="right">
                    <xs:annotation>
                        <xs:documentation>
                            Позиция значка
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="badge-shape" type="menu:shapeType" default="circle">
                    <xs:annotation>
                        <xs:documentation>
                            Форма значка
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="badge-image" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>
                            Ссылка на картинку в значке.
                            Возможно использование плейсхолдеров
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="badge-image-position" type="menu:positionType" default="left">
                    <xs:annotation>
                        <xs:documentation>
                            Позиция картинки в значке
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="badge-image-shape" type="menu:shapeType" default="circle">
                    <xs:annotation>
                        <xs:documentation>
                            Форма картинки в значке
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="src" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>
                            React компонент элемента меню
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="class" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>
                            CSS класс элемента меню
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="style" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>
                            CSS стиль элемента меню
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="visible" type="xs:string" default="true">
                    <xs:annotation>
                        <xs:documentation>
                            Условие видимости.
                            Возможно использование плейсхолдеров
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="enabled" type="xs:string" default="true">
                    <xs:annotation>
                        <xs:documentation>
                            Условие доступности.
                            Возможно использование плейсхолдеров
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="color" type="bs:buttonColorDefinition">
                    <xs:annotation>
                        <xs:documentation>
                            Цвет кнопки.
                            Возможно использование плейсхолдеров
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="description" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>
                            Описание при наведении на кнопку
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="tooltip-position" type="bt:tooltipPositionType" default="bottom">
                    <xs:annotation>
                        <xs:documentation>
                            Позиция подсказки
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="action-id" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>
                            Действие, которое будет вызвано при нажатии на элемент меню
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:anyAttribute>
                    <xs:annotation>
                        <xs:documentation>
                            Возможность подключать любые атрибуты
                        </xs:documentation>
                    </xs:annotation>
                </xs:anyAttribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="dividerMenuItemDef">
        <xs:annotation>
            <xs:documentation>
                Разделитель
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="class" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    CSS класс элемента меню
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="style" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    CSS стиль элемента меню
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="linkMenuItemDef">
        <xs:annotation>
            <xs:documentation>
                Ссылка
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="act:aDefinition">
                <xs:attribute name="label" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>
                            Заголовок ссылки.
                            Возможно использование плейсхолдеров
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="icon" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>
                            Иконка элемента меню из https://fontawesome.com/v6/icons/
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="icon-position" type="menu:positionType" default="left">
                    <xs:annotation>
                        <xs:documentation>
                            Позиция иконки относительно наименования элемента меню
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="target" type="act:targetType" default="newWindow">
                    <xs:annotation>
                        <xs:documentation>
                            Сценарий открытия ссылки
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="visible" type="xs:string" default="true">
                    <xs:annotation>
                        <xs:documentation>
                            Условие видимости.
                            Возможно использование плейсхолдеров
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="enabled" type="xs:string" default="true">
                    <xs:annotation>
                        <xs:documentation>
                            Условие доступности.
                            Возможно использование плейсхолдеров
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="class" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>
                            CSS класс элемента меню
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="style" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>
                            CSS стиль элемента меню
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:anyAttribute>
                    <xs:annotation>
                        <xs:documentation>
                            Возможность подключать любые атрибуты
                        </xs:documentation>
                    </xs:annotation>
                </xs:anyAttribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="groupMenuItemDef">
        <xs:annotation>
            <xs:documentation>
                Группа
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="menu-item" type="menu:menuItemDef" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="dropdown-menu" type="menu:dropdownMenuDef" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="button" type="buttonMenuItemDef" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="divider" type="dividerMenuItemDef" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="link" type="linkMenuItemDef" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="group" type="groupMenuItemDef" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="label" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    Заголовок элемента меню.
                    Возможно использование плейсхолдеров
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="collapsible" type="xs:boolean" default="true">
            <xs:annotation>
                <xs:documentation>
                    Возможность раскрытия и сворачивания группы
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="default-state" type="groupStateType" default="expanded">
            <xs:annotation>
                <xs:documentation>
                    Состояние раскрытия элементов группы
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="icon" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    Иконка элемента меню из https://fontawesome.com/v6/icons/
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="icon-position" type="menu:positionType" default="left">
            <xs:annotation>
                <xs:documentation>
                    Позиция иконки относительно заголовка элемента меню
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="visible" type="xs:string" default="true">
            <xs:annotation>
                <xs:documentation>
                    Условие видимости.
                    Возможно использование плейсхолдеров
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="enabled" type="xs:string" default="true">
            <xs:annotation>
                <xs:documentation>
                    Условие доступности.
                    Возможно использование плейсхолдеров
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="datasource" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    Идентификатор источника данных, из которого будет взято значение для плейсхолдеров.
                    По умолчанию: идентификатор источника данных родительского компонента
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="model" type="act:clientModel">
            <xs:annotation>
                <xs:documentation>
                    Модель, из которой будет взято значение для плейсхолдеров.
                    По умолчанию: модель родительского компонента
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="class" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    CSS класс элемента меню
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="style" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    CSS стиль элемента меню
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:anyAttribute>
            <xs:annotation>
                <xs:documentation>
                    Возможность подключать любые атрибуты
                </xs:documentation>
            </xs:annotation>
        </xs:anyAttribute>
    </xs:complexType>

    <xs:simpleType name="groupStateType">
        <xs:annotation>
            <xs:documentation>
                Состояние раскрытия элементов группы
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="expanded"/>
            <xs:enumeration value="collapsed"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>