backend/n2o/n2o-api/src/main/resources/net/n2oapp/framework/config/schema/table-settings-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://n2oapp.net/framework/config/schema/table-settings-1.0"
           xmlns:bs="http://n2oapp.net/framework/config/schema/base-1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:group name="tableGenerateGroup">
        <xs:sequence>
            <xs:element name="columns" type="columnsType" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Отобразить\скрыть выбранные столбцы таблицы
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="export" type="exportType" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Экспортировать данные таблицы
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="filters" type="tableSettingBaseType" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Отобразить\скрыть фильтры таблицы
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="refresh" type="tableSettingBaseType" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Обновить таблицу
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="resize" type="resizeType" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Изменить количество отображаемых данных в таблице
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="word-wrap" type="tableSettingBaseType" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Перенести по словам текст в ячейках
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="reset-settings" type="tableSettingBaseType" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Сбросить настройки к значениям по умолчанию
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:group>

    <xs:complexType name="tableSettingBaseType">
        <xs:annotation>
            <xs:documentation>
                Базовая настройка таблицы
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="label" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    Заголовок
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="icon" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    Иконка из https://fontawesome.com/v6/icons/
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="description" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    Описание при наведении
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="color" type="bs:buttonColorDefinition">
            <xs:annotation>
                <xs:documentation>
                    Цвет кнопки.
                    Возможно использование плейсхолдеров
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="src" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    React компонент кнопки
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="class" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    CSS класс кнопки
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="style" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    СSS стиль кнопки
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:anyAttribute>
            <xs:annotation>
                <xs:documentation>
                    Возможность подключать любые атрибуты
                </xs:documentation>
            </xs:annotation>
        </xs:anyAttribute>
    </xs:complexType>

    <xs:complexType name="columnsType">
        <xs:complexContent>
            <xs:extension base="tableSettingBaseType">
                <xs:attribute name="default-value" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>
                            Список колонок (через запятую), выбранных по умолчанию
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="locked" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>
                            Список заблокированных колонок (через запятую), у которых нельзя изменить состояние
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="exportType">
        <xs:complexContent>
            <xs:extension base="tableSettingBaseType">
                <xs:attribute name="format" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>
                            Список доступных форматов (через запятую)
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="default-format" type="formatType" default="csv">
                    <xs:annotation>
                        <xs:documentation>
                            Формат по умолчанию
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="default-charset" type="charset" default="utf-8">
                    <xs:annotation>
                        <xs:documentation>
                            Кодировка по умолчанию
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="default-size" type="fileSize" default="all">
                    <xs:annotation>
                        <xs:documentation>
                            Размер экспортируемых данных по умолчанию
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="show-modal" type="xs:boolean" default="true">
                    <xs:annotation>
                        <xs:documentation>
                            Показывать модальное окно с параметрами или сразу скачивать файл со значениями по умолчанию
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="resizeType">
        <xs:complexContent>
            <xs:extension base="tableSettingBaseType">
                <xs:attribute name="size" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>
                            Варианты количества отображаемых записей (через запятую)
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:simpleType name="formatType">
        <xs:annotation>
            <xs:documentation>
                Формат экспортируемого файла
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="csv"/>
            <xs:enumeration value="xlsx"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="charset">
        <xs:annotation>
            <xs:documentation>
                Кодировка экспортируемого файла
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="UTF-8"/>
            <xs:enumeration value="Cp1251"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="fileSize">
        <xs:annotation>
            <xs:documentation>
                Размер экспортируемых данных
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="all">
                <xs:annotation>
                    <xs:documentation>
                        Все записи
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="page">
                <xs:annotation>
                    <xs:documentation>
                        Записи текущей страницы
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>