backend/n2o/n2o-api/src/main/resources/net/n2oapp/framework/config/schema/table-settings-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://n2oapp.net/framework/config/schema/table-settings-1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:group name="tableGenerateGroup">
        <xs:sequence>
            <xs:element name="columns" type="columnsType" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Отобразить\скрыть выбранные столбцы таблицы
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="export" type="exportType" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Экспортировать данные таблицы
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="filters" type="tableSettingBaseType" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Отобразить\скрыть фильтры таблицы
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="refresh" type="tableSettingBaseType" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Обновить таблицу
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="resize" type="tableSettingBaseType" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Изменить количество отображаемых данных в таблице
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="word-wrap" type="tableSettingBaseType" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Перенести по словам текст в ячейках
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="reset-settings" type="tableSettingBaseType" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Сбросить настройки к значениям по умолчанию
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:group>

    <xs:complexType name="tableSettingBaseType">
        <xs:annotation>
            <xs:documentation>
                Базовая настройка таблицы
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="label" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    Заголовок
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="icon" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    Иконка из https://fontawesome.com/v6/icons/
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="description" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    Описание при наведении
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="columnsType">
        <xs:complexContent>
            <xs:extension base="tableSettingBaseType">
                <xs:attribute name="default-value" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>
                            Список колонок (через запятую), выбранных по умолчанию
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="locked" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>
                            Список заблокированных колонок (через запятую), у которых нельзя изменить состояние
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="exportType">
        <xs:complexContent>
            <xs:extension base="tableSettingBaseType">
                <xs:attribute name="format" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>
                            Список доступных форматов (через запятую)
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="default-format" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>
                            Формат по умолчанию
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>