backend/n2o/n2o-config/src/test/resources/net/n2oapp/framework/config/metadata/compile/test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://n2oapp.net/framework/config/schema/testAttrs"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:attribute name="testAttr" type="xs:string"/>
    <xs:attribute name="sendEmailUrl" type="xs:string"/>
    <xs:attribute name="sendCodeUrl" type="xs:string"/>
    <xs:attribute name="codeVerified" type="xs:string"/>

</xs:schema>